[2019-05-29 06:51] aFluxx opened #1 "Ambigious class resolution & --ignore-platform-reqs"
Hello there,

I'm installing this package on a windows enviroment running homestead and I had to use the `--ignore-platform-reqs` flag.

Do you think this could lead to any complications, or am I free to use this.

Also got the following yellow lines while installing:

[code]

I have the normal cashier package installed and it seems to have some Ambigious class resolutions. As I'm not all to famil

[2019-05-29 07:02] sandervanhooft commented on #1
Hi,

Congrats on opening the first ticket :).

You can’t run Cashier Mollie next to other Cashier implementations, they are designed to overrule each other.

[2019-05-29 07:02] #1 closed

[2019-05-29 07:45] aFluxx commented on #1
Haha, someone has to be first!

Oh ow! I'l look further into it then.

Just wondering then this package is just an extra integration of mollie + cashier? So I can still use all other cashier functionality. Or how should I see this?

I just want to "Bezint, eer I begint" ^^

[2019-05-29 07:56] sandervanhooft commented on #1
It’s designed to be a complete Cashier package, like the one for Stripe and Braintree, but for Mollie.

[2019-05-29 07:57] aFluxx commented on #1
Okay thanks! I'll swap it out and play around with it! I'll let you know my findings!

[2019-05-29 13:43] aFluxx opened #3 "Error executing API call (422: Unprocessable Entity): The payment method is invalid."
Second ticket!

First of all I've added my test_key to my .env file

I've implemented a plan like:
[code]

Then I created the controller:

[code]

Added a route to hit the controller, here's where I guess I have to use a wildcard to find the plan? (I think I might be making a mistake here somewhere)
`Route::get('pay/{membership}', 'CreateSubscriptionController')->name('pay');`

When I hit that rou

[2019-05-29 14:22] Fossil01 opened #4 "Can this be used together with Cashier for Stripe?"
As per title. I am using Stripe for cards and Mollie for everything else.

[2019-05-29 14:30] JoeriAben commented on #4
At this moment this is not possible because it overwrites some of the classes.
In ticket #1 you can find some more information about this.

[2019-05-29 14:31] Fossil01 commented on #4
Cheers for the quick reply.

[2019-05-29 14:31] #4 closed

[2019-05-29 16:15] sandervanhooft commented on #3
(On the plan defaults)

[2019-05-29 18:04] aFluxx commented on #3
Just for clarification, do you mean this?
[code]

I tried both setting it to null & commenting it out, but kept getting 422.

Could it have something to do with that I don't have a business account. See I don't have a VAT Number yet, so I can't register one. All I have is a test key.

[2019-05-29 18:24] aFluxx commented on #3
Wait, I managed to overlook something when setting the method to NULL.

The error changed to: `Error executing API call (422: Unprocessable Entity): The webhook URL is invalid because it is unreachable from Mollie's point of view.. Field: webhookUrl. Documentation: https://docs.mollie.com/guides/handling-errors`

[2019-05-29 18:35] aFluxx commented on #3
It seems this could have something to do with me running it on localhost valet at the moment.

Found this issue that could lead me to answers: https://github.com/mollie/mollie-api-php/issues/111

[2019-05-29 18:45] #3 closed

[2019-05-29 19:14] aFluxx opened #5 "User mandate id not updated on first payment"
Hello there,

I'm testing out with the __invoke method provided in the docs:

[code]

When creating a new subscription it doesn't ever seem to hit the following line:
`return redirect()->view('feed.index')->with('success', 'Welcome to the ' . $plan . ' plan');`

Somewhere in the following lines:
[code]

It seems to standard go to the  `'redirect_url' => config(app.ur),` provided in the config file

[2019-05-31 08:19] sandervanhooft commented on #5
The controller essentially picks the strategy for handling the request, and returns it:
- already on this plan: redirect to previous page with a message
- not yet on this plan, but a valid mandate: create the subscription and redirect to previous page with a success message
- not yet on this plan and no valid mandate: redirect away from this page, to Mollie’s checkout. After checkout the subscript

[2019-05-31 08:23] sandervanhooft commented on #5
Regarding not updating the mandate_id field:
- make sure that Mollie can reach your app (so no localhost etc) for calling the cashier webhooks
- _generally_ Mollie calls the webhook before redirecting the customer. I recommend treating the webhook call and redirect as independent, async requests.

[2019-05-31 20:09] Wijnands commented on #3
I have the same error end tried to enable the payment methods in Mollie.
But i can't figure out how to enable the payment methods for the test API key?

Is there a way to enable the payment methods only for the testing?

[2019-06-02 13:37] aFluxx commented on #5
Hello,

I understand why it's using the standard redirect. Something seems to go wrong when it tries to create a valid mandate.

For testing purposes I used one of my digital ocean droplets to have a website which is available from the outside. I tried to create a subscription and I can see on Mollie's end that everything went well.

Here's what I can see in my Mollie test dashboard:
https://i.gya

[2019-06-02 15:12] sandervanhooft commented on #5
Hi @aFluxx ,

Thanks for clearing that up.

Can you check whether the `FirstPaymentPaid` is called, by listening for it? Can you dump the payment contained in it? I'm wondering if the `mandateId` is available there.

[2019-06-02 21:15] aFluxx commented on #5
Hey Sander,

I tried to do as you asked (Bear with me since I'm a beginning developer learning all this stuff whilest I'm doing it💃 ).

I've created a `FirstPaymentPaidListener.php` listener class which is listening in the `Laravel\Cashier\Events` namespace.
[code]

I've registered the `FirstPaymentPaid` event with the listener in the `EventServiceProvider` class.
[code]

Ive then used a service y

[2019-06-03 11:29] sandervanhooft commented on #5
Hi @aFluxx ,

That webhook service is great, but it does not forward the call to the app itself. So the app webhook does not get triggered, and so the event does not get dispatched.

For this to work you will need to make a request to the app webhook manually. You can use something like `curl` (Mac command line) or PostMan (free tool or chrome plugin) to do that.

The request:
- method POST
- incl

[2019-06-03 13:21] GertTimmerman opened #6 "StartSubscription error undefined index taxPercentage"
I have successfully made a test payment, i get the welcome message so all seems fine. But when i check if have a valid subscription i get false and i see this error in my log:

[code]

It seems he cannot find taxPercentage in the payload, but in my Billable Model (for me it is App\Company) i have a function taxPercentage() and in the Molle app i can see this metadata:

[code]

[2019-06-03 13:46] sandervanhooft commented on #5
Just found the culprit, preparing a PR to fix it.

Appears that using a `EloquentModel::update(...)` does on a related model does not work in a transaction. Which makes kind of sense now I think of it.

[2019-06-03 14:28] #5 closed

[2019-06-03 14:42] sandervanhooft commented on #6
Hi @GertTimmerman ,

Thanks for trying out the package and reporting this issue.

At first glance I'd say there's an issue in the handler `Laravel\Cashier\FirstPayment\Actions\StartSubscription`.

I'll look into this further, feel free to join.

[2019-06-03 15:05] sandervanhooft commented on #6
The `array_filter` method is causing the issue, filtering out any pairs with a `0` value.

[2019-06-03 15:34] aFluxx commented on #5
Hey Sander,

Just to let you know, I updated the package to the latest version, everything works fine. Also, the correct redirect is now triggered via the controller. Thanks man!

Have a nice day!

[2019-06-03 15:37] sandervanhooft commented on #5
Thanks @aFluxx , also for following up! :)

[2019-06-03 15:41] sandervanhooft commented on #6
Also, can you try upgrading to `v0.1.1` (released this afternoon), so we're on the same page?

[2019-06-03 16:04] aFluxx opened #9 "FirstPayment amount seems to be ignored"
Hello @sandervanhooft

Something came up when I was debugging the other issue. I have set the value of the firstpayment amount very low.

[code]

And this is the value of the plan I provide:
[code]

https://i.gyazo.com/61dd25e5a9b7263c0fc337534c44a1a6.png (Visual aid)
When looking at these test payments I noticed that all these payments amounted to €4.99 which is the plan amount. I'm wondering if

[2019-06-03 16:10] sandervanhooft commented on #9
By default the subscription amount is used, unless a trial period has been set. Then the first payment amount is used.

[2019-06-03 16:11] sandervanhooft commented on #9
Also note that there are absolute minimums for the subscription amounts, especially relevant when using creditcard: https://help.mollie.com/hc/en-us/articles/115000667365-What-are-the-minimum-and-maximum-amounts-per-payment-method

[2019-06-03 16:14] aFluxx commented on #9
I see, thanks for clearing that out!

[2019-06-03 16:14] #9 closed

[2019-06-03 20:18] MSnoeren commented on #6
This is still happening on the latest version. I just got it too. I've had this issue for months but simply fixed it by adding the tax method to the billable model. That's also the reason why I forgot to report it...

[2019-06-03 20:33] sandervanhooft commented on #6
It doesn’t explain why it’s happening in the case of @gerttimmerman, who has implemented the same method.

I do have prepared a PR fixing the zero tax issue, but I can’t reproduce the one this ticket was opened for yet.

[2019-06-04 14:02] sandervanhooft commented on #6
I've released `v0.1.2` just now, fixing the 0 tax percentage issue.

@GertTimmerman can you check if the issue still occurs with a non-zero tax percentage?

[2019-06-04 15:25] MSnoeren opened #10 "Quantity instantly creates payments"
I'm currently creating software that uses the quantity system. A user can create as many as they like and pay for each one of them monthly. Currently, a product is around 50 cents. When the customer adds 10 products, 10 payments will be created and I'll pay 10 times the transaction costs, which is around half the price of a product using SEPA.

Is there any way to queue these payments and send the

[2019-06-04 15:47] sandervanhooft commented on #10
Hi @MSnoeren ,

Have you checked in the Mollie dashboard that 10 payments were created? They should be all combined into a single OrderItem, not 10.

If it's 10 OrderItems, this would only occur on the first payment, on subsequent payments the scheduler will combine it into a single Order and payment. (Would still not be ok obviously!)

[2019-06-04 17:06] MSnoeren commented on #10
Currently I'm triggering the `updateQuantity` function **each** time a customer adds or removes a product. This means it'll create a payment for every quantity change. Using `updateQuantity` makes sure the quantity is always the same as the amount of active products. The payment is instantly processed and sent to Mollie; my testing-dashboard confirms this. The user has a valid mandate.

The behavi

[2019-06-04 17:23] MSnoeren opened #11 "First payment is not affected by tax rule."
The first payment is not affected by tax and I can't seem to find out why. The first payment is 50 cents exactly (as configured) and all payments after (configured as 41 cents with 21% tax) are sometimes 50 cents but sometimes 49 cents as well.

[2019-06-04 17:44] MSnoeren opened #12 "Invoice filenames are month-based."
When downloading an invoice using `$order->invoice()->download()`, the filename is automatically generated. This filename assumes that an invoice will be created monthly, as its format is "`month`_`year`.pdf".

The line for this behavior is located at: https://github.com/laravel/cashier-mollie/blob/61a3f0b40776fc2a395868be866e7f9281c3b38a/src/Order/Invoice.php#L473

I guess using the automatically

[2019-06-04 19:16] sandervanhooft commented on #12
I agree @MSnoeren that the automatically generated invoice reference (id) would be a better default.

Perhaps we could bind an `InvoiceFilenameGenerator` into the container with this behaviour?

It could take the Invoice object as input.

[2019-06-04 19:18] sandervanhooft commented on #10
Perhaps we could add a default flag `processNow = true`?

[2019-06-04 19:19] sandervanhooft commented on #10
Alternatively you could place a layer in between (Front-end JS?) to delay the update to the back-end, capturing all 10 updates in a single request.

[2019-06-04 19:21] sandervanhooft commented on #11
Is this a first payment in trial mode?

[2019-06-04 19:22] MSnoeren commented on #12
Yeah, that would be great. If neccesary, others can create a custom class to generate their own filenames.

[2019-06-04 19:26] MSnoeren commented on #10
The `$processNow = true` flag looks like a great idea. This way we can run the Cashier command, for example, daily and group payments per billable model, cutting costs. It will also support the anchor date feature which is is not yet implemented, but a fallback would be to run the Cashier command.

[2019-06-04 19:27] sandervanhooft commented on #10
What do you think, should `processNow` default to `true` or `false`?

Given your use case, I'm leaning towards `false`.

[2019-06-04 19:27] MSnoeren commented on #11
No, it's not. It also appeared to me once. All payments from now on are correct, including the first one. It could've been my configuration. For now it can be closed until it occurs again or someone else experiences the same.

[2019-06-04 19:29] MSnoeren commented on #10
I think it should be `true`, as the current behavior is also `true`. I'm switching a lot of quantities with small costs, so it's useful to me to cut the costs and push the payment into one large one, but I can imagine that other applications want to bill their customers immediately whenever they add, for example, another user at a higher cost.

[2019-06-04 19:30] sandervanhooft commented on #11
Thanks for the follow-up! Rounding can be a hard-to-tackle issue, so please let me know if you come across other instances.

[2019-06-04 19:30] #11 closed

[2019-06-04 19:32] sandervanhooft commented on #10
Ok, we'll take that route for now.

[2019-06-04 20:13] sandervanhooft commented on #10
For clarity the flag will be named `invoiceNow`.

`processNow` set to `false` suggests that the quantity is not instantly updated. Which it is, it's only invoiced later.

[2019-06-05 07:34] GertTimmerman commented on #6
@sandervanhooft i was not able to respond yesterday, but i have tested it and is works like it should work, the issue not occurs anymore. Thanks for the fix!

[2019-06-05 07:52] sandervanhooft commented on #6
Thanks @GertTimmerman !

[2019-06-05 07:52] #6 closed

[2019-06-07 12:43] eroelofsen opened #13 "Readme example code - subscribed check always returns false"
First of all: Thanks for this project.

I found that the example code in the readme which checks if a user is already subscribed always returns false as parameter "plan" should be the second argument instead of the first.

Current Readme.md
[code]

Suggested solution
[code]

Billable.php
[code]

[2019-06-07 19:51] MSnoeren opened #14 "Add settings/metadata to plans."
I've noticed there currently is no way to add settings or metadata to plans. For example, a plan allows for 5 users and 20 emails. Currently, I have to use an array-map to retrieve how many users the team can create. It would be easier to add this to the plan itself and get it from the plan object afterwards.

Consider the following:
[code]

Think of the metadata as specifying the pricing table. T

[2019-06-09 08:57] MSnoeren opened #16 "Extra description lines field doesn't work on shared hosting databases."
The `description_extra_lines` field on the `order_items` table is a JSON-field. I'm in favor of using native types, but unfortunately this field is not yet supported on my shared hosting. I know that's not the best environment to serve a Laravel application from, but I also know I won't be the first to do so ;)

Anyway, this can be fixed by changing the field into a `text` field as Laravel will ca

[2019-06-09 09:07] MSnoeren commented on #16
#17 I've also created a pull request for this issue.

[2019-06-11 07:30] sandervanhooft commented on #16
Agreed. Thanks @MSnoeren !

[2019-06-11 07:45] sandervanhooft commented on #16
Merged it!

[2019-06-11 07:45] #16 closed

[2019-06-11 07:51] sandervanhooft commented on #14
Hi @msnoeren,

We're essentially discussing two features here:

- `metadata`: I like the idea of having metadata, because it can also be accessed by the preprocessors.

- `features`: would be essentially another feature, and very application specific. I don't think this should be a first class citizen as of yet. But if we go with the `metadata`, you could nest the features there. (`metadata => fea

[2019-06-11 07:53] sandervanhooft commented on #13
Seems you're right @eroelofsen ! Can you submit a PR?

[2019-06-14 16:07] sandervanhooft commented on #13
Fixed in PR #20 . Thanks @eroelofsen !

[2019-06-14 16:07] #13 closed

[2019-06-17 09:00] sandervanhooft commented on #14
@MSnoeren what do you think?

[2019-06-17 09:02] sandervanhooft commented on #12
Oh sorry

I meant `orderId_app_name_snake_case.pdf`

[2019-06-17 09:03] MSnoeren commented on #14
Looks fine to me. That way features can be added as well, but simply by adding them to the metadata.

[2019-06-17 09:05] MSnoeren commented on #12
Yeah, looks great. Filenames will be unique and traceable.

[2019-06-17 09:06] sandervanhooft commented on #12
Putting it on my list. Feel free to submit a PR, otherwise I'll pick it up whenever I find the time.

[2019-06-26 07:56] eroelofsen opened #22 "FirstPaymentPaid Event protected property $payment"
I'm implementing the FirstPaymentPaid listener to only create an account when the first payment was successful.

In my EventServiceProvider.php I've add the listener.
[code]

In my CreateAccountAfterPayment listener I try to access the payment details, but since the payment property is protected I cannot access the details.
[code]

Am I doing something wrong here or should they payment property be

[2019-06-26 11:32] sandervanhooft commented on #22
@eroelofsen It's not you - you're absolutely right!

Can you submit a PR?

[2019-06-26 11:41] robindirksen1 commented on #22
@sandervanhooft what do you prefer, a `getPayment` method or making the attribute public?

[2019-06-26 11:44] sandervanhooft commented on #22
`public` in this case. Mirrors the other Cashier Events.

[2019-06-26 12:53] eroelofsen commented on #22
PR has been created:
https://github.com/laravel/cashier-mollie/pull/23

[2019-06-26 12:56] sandervanhooft commented on #22
Merged. Thanks @eroelofsen !

[2019-06-26 12:56] #22 closed

[2019-06-29 14:31] peterjaap opened #24 "StartSubscription error concerning owner"
The first payment webhook throws this error;

[code]

This data is filled in `\Laravel\Cashier\SubscriptionBuilder\MandatedSubscriptionBuilder::create`;

[code]

The fields `owner_id` and `owner_type` are missing here. When I add them, everything works;

[code]

[2019-06-29 14:47] sandervanhooft commented on #24
Hi Peter,

Thanks for opening this ticket.

The polymorphic `subscriptions()` relationship (via the `Billable` trait) should be taking care of setting the `owner_id` and `owner_type`.

Is there any reason the `id` would be inaccessible in your case?

[2019-06-29 14:54] peterjaap commented on #24
Woops, totally skipped over the step where I needed to add `Laravel\Cashier\Billable` to the `User` model. My implementation is a bit different since I'm implementing it in Spark. Thanks!

[2019-06-29 14:54] #24 closed

[2019-06-29 15:03] sandervanhooft commented on #24
👍 Thanks for following up!

[2019-06-29 15:05] sandervanhooft commented on #24
Also, we're looking into Spark support, but it will not work out of the box.

Cashier for Stripe/Braintree have a lot of explicit switches each and settings in the Spark codebase.

Also, the redirect behaviour of Cashier Mollie requires some further Spark adjustments.

[2019-06-29 15:07] peterjaap commented on #24
Yep I'm pretty much done with all of those. Spark also has a migration for the `subscriptions` table, which we don't need now (this tripped me up at first, since it has a `user_id` column instead or `owner_type` and `owner_id` combo).

[2019-06-29 15:11] peterjaap commented on #24
FYI, here are the files I've modified (so which needed switches etc for Mollie);

[code]

Here are the files I added;

[code]

[2019-06-29 15:12] peterjaap commented on #24
All in all, thanks for all your work :tada:

[2019-06-29 15:13] sandervanhooft commented on #24
Feel free to follow-up on E-mail: info@sandervanhooft.com I can keep you in the loop from there on any not-yet official developments, if any :).

Thanks for sharing! You too! 🎉

[2019-07-04 12:01] eroelofsen opened #26 "Orders table total_due is not updated when mollie_payment_status is "paid""
When a new user subscribes and executes the first payment the total_due column is not updated (I'm using Mollie test api key).

In my case the first payment amount is 1 and the tax is 21%, so total will be 1.21. After the mandate has been given I'd expect the total_due to be 0, but it remain on 1.21.

Ps. The same happens when without using tax.

[2019-07-04 12:14] sandervanhooft commented on #26
This is not a bug, it's by design. A payment will always result in a fully paid Order.

The `total_due` is column is named that way because it's the Order's total minus any pre-existing user balance. Hence not `total` but `total_due`.

[2019-07-04 12:14] #26 closed

[2019-07-17 10:59] sandervanhooft opened #29 "Minimum payment should already include VAT"
When starting a trial with a card upfront, a minimum amount is charged in order to establish a mandate.

Right now the VAT is applied on top of the configured minimum amount. Ideally, the configured amount should already include VAT.

So right now, a €1.00 configured minimumAmount with 21% VAT results in a €1.21 payment.

Ideally, it should result in a payment of €1.00 including `(€1.00/121)*21 =

[2019-07-20 13:24] divdax opened #31 "Installation Laravel.5.8"
I tried to install the package and cannot run the install command after pulling in the package:
[code]

[2019-07-20 13:36] divdax commented on #31
Had also pulled in laravel/cashier... So the default CashierServiceProvider was load... 🙈

[2019-07-20 13:36] #31 closed

[2019-08-09 23:43] Mindexperiment commented on #12
Hi guys,
I'm going to use mollie with cashier package and can help on enhancements if needed.

Here in italy we organize phisical invoice archives  by a number (called protocol, similar to invoice number) but when we needs to manage digital invoices a common patters is:

yyyymmdd_invnumber.pdf

Is unclear what app_name is for? if you refer to config('app.name') this can be userd by company with mo

[2019-08-13 09:32] sandervanhooft commented on #12
Thanks @mindexperiment,

The app name indeed refers to the config app name. Invoices tend to end up in a customer’s download folder, appending the app name will make it more readable there.

[2019-08-13 09:58] marijnbent opened #32 "When will this package be production ready?"

[2019-08-13 19:23] sandervanhooft commented on #32
I aim to announce the v1 during Laracon Amsterdam, end of this month.

[2019-08-13 19:23] #32 closed

[2019-08-18 12:16] marijnbent opened #34 "Swapping a plan does not return an RedirectResponse"
When swapping the plan of a user a Subscription (Laravel\Cashier\Subscription) object is returned, not a RedirectResponse, even though new payments showed up in the Mollie Dashboard (status: pending; method: sepa).

Payments generated:
Tier 2 to tier 1: 0,01 cents
Tier 1 back to tier 2: no payment generated
Tier 2 to tier 3: difference between plans

[2019-08-18 13:53] sandervanhooft commented on #34
That’s correct behavior

[2019-08-18 13:55] marijnbent commented on #34
Could you elaborate? As the payment is generated in Mollie, shouldn't swap() return the link to let the user pay?

[2019-08-18 14:00] sandervanhooft commented on #34
The first payment uses the redirect to obtain a mandate. This mandate is used for all subsequent payments.

[2019-08-18 14:02] sandervanhooft commented on #34
Also, too small order amounts do not result in a payment, but in balance being subtracted. A BalanceTurnedStale event will be dispatched if there’s no other order item scheduled for the future.

[2019-08-18 14:03] sandervanhooft commented on #34
When swapping a subscription plan, there’s already a mandate for the user.

[2019-08-19 08:23] #34 closed

[2019-08-19 09:17] sandervanhooft commented on #10
I've prepared a solution for the v1 release, planned for end of the month. 🤞

[2019-08-19 10:21] sandervanhooft commented on #29
I've prepared a fix in `v1`.

[2019-08-19 10:21] #29 closed

[2019-08-19 10:22] sandervanhooft commented on #14
FYI: Not sure yet I'll be including this in the v1 release. Not a must-have at this point.

[2019-08-19 10:40] marijnbent commented on #34
Check. So the scheduled `cashier:run` would use this mandate to fulfill the payment? Till then the payment will be pending on Mollie's side.

Using the announcement "https://github.com/laravel/cashier-mollie#updating-customer-payment-mandates" I could force the creation of a new mandate when swapping plans, to simulate a swapViaMollieCheckout (like newSubscriptionViaMollieCheckout).

Thanks for th

[2019-08-19 11:24] sandervanhooft commented on #34
No. The payment is generated using the mandate. In live mode, methods like SEPA/directdebit may take up to a few days too clear. In test mode, Mollie allows you to update the status of a mandated payment manually. It's a bit cumbersome, but if you fetch the payment there should be a link included which takes you (developer/tester) to the screen to do this.

[2019-08-19 11:25] marijnbent commented on #34
I do run into the following situation right now.
1. User select and pays for plan A.
2. User upgrade to plan B
3. Subscription of user is changed, order is created for the the amount - costs of first plan, status  of order/payment is 'open'
4. When running cashier:run, 'Created 0 orders.' is returned. Payment on the Mollie dashboard stays on pending. Am I missing something?

[2019-08-19 11:31] sandervanhooft commented on #34
Hopes that explains it :)

[2019-08-19 11:33] marijnbent commented on #34
This clears everything up! In case of iDeal, SEPA takes care of the payments after the first payment. Ofcourse 😓! Tested it with a creditcard and it works like expected.

Sorry for all the messages, but thanks to your helpful responses!

[2019-08-19 11:39] sandervanhooft commented on #34
No problem, it's a complex flow to fully grasp, especially with all the ifs and buts because of the big range of payment methods supported .

Trust me I know :).

[2019-08-22 06:30] Jimmylet commented on #14
Hi @sandervanhooft, big thanks for this package! When do you think the V1 will be available?

I can't wait to use this package in production.

[2019-08-22 06:38] Jimmylet opened #36 "How does subscription per year per user work?"
Hello,

Thank you for this great package.

I ask myself a question about the subscription per user per year.

I will integrate this package for teams. I will create a valid plan 12 months per user. When the administrator adds a user to the team, he will increment the amount.

If I understand correctly, it will only be charged for this additional user at the end of his current period? So, if he has

[2019-08-22 10:04] sandervanhooft commented on #14
@Jimmylet Please stay on topic; the answer you're looking for is here: https://github.com/laravel/cashier-mollie/issues/32.

[2019-08-22 10:13] sandervanhooft commented on #36
I think I have built it the way you are hoping for, because the issue you're describing would definitely be annoying. 😉

The feature you're looking for is called _prorating_, and Cashier for Mollie does this by default.

When you're updating the quantity (or switching to another plan):

1. the billing cycle is reset
2. the customer is credited for unused time
3. a new billing cycle is started with

[2019-08-22 10:35] sandervanhooft opened #37 "Travis CI failing on PRs due to confidential env variables not being shared outside repo"
Cashier Mollie tests run against Mollie's API.

The credentials for this are stored confidentially in Travis, as to not overload the test account.

The downside of this is that PRs (hosted at the contributor's repo) do not have access to these credentials, and these tests always fail. (See #33 for example).

[2019-08-22 10:38] sandervanhooft commented on #37
FYI @vblinden.

[2019-08-22 10:39] sandervanhooft commented on #37
@willemstuursma do you have a suggestion here? Just open up the credentials?

[2019-08-22 12:16] willemstuursma commented on #37
Skip the tests if in a PR.

[2019-08-22 13:07] sandervanhooft commented on #37
:+1: Good one. Will set up a dev branch as the default.

[2019-08-22 13:25] sandervanhooft commented on #12
I have prepared this for the v1 release. The separate filename generator is not yet included. Feel free to send in a PR for that.

[2019-08-22 14:54] #37 closed

[2019-08-28 09:16] Jimmylet commented on #36
Yes, thank you for your great answer !

[2019-08-28 09:16] #36 closed

[2019-08-29 17:05] DonJorgen opened #39 "Why use the same name space as `Laravel\Cashier`?"

[2019-08-30 11:50] robindirksen1 opened #41 "Behaviour of Carbon Interval different from what expected"
So for this example I have a plan configured with an interval of 1 month and made a subscription.

# What I expect:
When I start a subscription for a user on 2019-08-30, I want to bill them on the 30 off every month.

Here I made a example (the billing dates are marked with a green box):
<img width="1685" alt="calendar-view-expected" src="https://user-images.githubusercontent.com/22446895/64018085

[2019-08-30 11:51] robindirksen1 commented on #41
cc @driesvints @bobbybouwmann as discussed at LaraconEU

[2019-09-01 12:26] bobbybouwmann commented on #41
@robindirksen1 I was going over this and I thought it makes sense that this is broken because februari can have only 28 days. It doesn't make sense that the other months don't work and that the calculations for the other months are broken, but that's a whole other story.

What happens when you always put it on the 28th when it's 29th, 30th or 31st? This should fix in general you problem and makes

[2019-09-01 13:01] robindirksen1 commented on #41
Yes that would work, but then nobody can have a subscription that runs from the last days (29,30,31) in a month. When you subscribe to something, let's says Laravel Forge, your subscription runs from the day you started and not a few days before or after that.

[2019-09-01 13:04] robindirksen1 commented on #41
Another proposal I've:

Add a method that returns a collection Carbon instances so you can debug/show information about when the next billing day(s) for that specific subscription are.

[2019-09-01 13:33] Tjoosten opened #42 "Question about charges."
Hi,

I'm wondering is there a method to process one time charges.

[2019-09-02 06:33] azrahn commented on #32
Any news when the v1 will be released?

[2019-09-02 18:50] marijnbent commented on #42
This will be added in the future according to the docs
https://github.com/laravel/cashier-mollie#one-off-charges

[2019-09-02 19:26] SanderMuller commented on #32
At LaraconEU it was announced that it will be released on Tuesday (tomorrow)

[2019-09-03 07:22] sandervanhooft commented on #42
True! I'll hijack this ticket as a reference.

Also, feel free to help me out with a PR. My focus primarily shifts to Spark for the next month.

[2019-09-03 08:16] sandervanhooft commented on #41
Thanks @robindirksen1

Some good bits in here, we can work in a swappable action class (optionally override this per subscription plan) once the v1 has released.

[2019-09-03 09:15] sandervanhooft commented on #39
1. Parity with the Stripe and Braintree edition, so it's easier to swap them out.
2. Easier integration with Spark (coming 2019)

[2019-09-03 09:15] #39 closed

[2019-09-03 09:40] #12 closed

[2019-09-03 09:40] #10 closed

[2019-09-05 17:45] bkuhl opened #46 "Can this be used with Paypal accounts?"
I see Mollie has some support for Paypal.  Does this package (when used with mollie) allow the use of Paying subscriptions via Paypal account balances?

[2019-09-05 19:20] lexdewilligen opened #47 "Migration autoloading"
Making use of Laravels [loadMigrationsFrom()](https://laravel.com/docs/5.8/packages#migrations) method would add the option to keep the migrations as they are without having to publish them. I'd like this feature since it would save me 6 migration files in my database folder.

I'll submit a PR to save you some work!

[2019-09-06 10:04] RobertBoes commented on #46
PayPal should be supported as payment method, on this page https://www.mollie.com/en/developers/packages/laravelcashier PayPal is listed as supported payment methods for cashier-mollie

[2019-09-06 11:19] enkota opened #49 "Laravel 6.0 Support"
Doesn't seem to be any 6.0 support. I see there is a pull request. Any chance we could push this? 👍

[2019-09-06 11:49] robindirksen1 commented on #49
See: https://github.com/laravel/cashier-mollie/pull/45

[2019-09-06 16:21] jelleroorda commented on #42
I'm going to try to spare some time this weekend to hack at this. I'll keep you guys posted.

[2019-09-06 19:26] bkuhl commented on #46
There are varying levels of Paypal compatibility.  Specifically I'm referring to Paypal accounts, subscriptions tied directly with Paypal accounts that pulls from their balance or default payment method, not just associated with a specific payment method.  Cashier traditionally supports a specific payment method, not a general account. which is why I'm asking.

[2019-09-09 10:35] sandervanhooft commented on #47
Thanks, but not a fan of this. Rather provide the ability to inspect and modify the package migrations by default.

[2019-09-09 10:35] #47 closed

[2019-09-09 10:41] lexdewilligen commented on #47
Well you could still do so right? But also provide the autoload option

[2019-09-09 10:53] sandervanhooft commented on #49
Yeah there were a few actually, keep an eye on this one #50.

[2019-09-09 10:55] sandervanhooft commented on #46
Great question @bkuhl .

Mollie does offer support for one-off payments for PayPal currently, and recurring is on the roadmap. Seems a bit delayed, but I think and hope we can expect it before the end of the year. 🤞

[2019-09-09 10:55] #46 closed

[2019-09-09 11:21] sandervanhooft commented on #47
It tends to introduce a number of issues honestly, so it's not common practice to use this in Laravel packages. I feel like the `loadMigrationsFrom()` method should be dropped altogether tbh.

[2019-09-09 11:21] lexdewilligen commented on #47
Ok, thanks for you reply!

[2019-09-09 12:38] sandervanhooft commented on #47
No problem, really appreciate the contribution ❤️

[2019-09-09 14:05] RobertBoes opened #53 "Coupon first payment issues"
I've tried to create my own coupon, but the documentation is very minimal, so I've basically copied the `FixedDiscountHandler` and changed a few things.

Now my own coupon didn't work, so I applied the default coupon (with the default plan etc.), and I think a lot of things are not working correctly:

- The coupon is not applied during payment, the 10.00 EUR plan remains the same price during chec

[2019-09-09 15:06] sandervanhooft commented on #53
@RobertBoes that's unfortunate, will have to look into this later this week.

It may help to understand in debugging that using the coupon is actually a two-step process:

1. redeeming the coupon
2. applying the coupon to the Order

[2019-09-09 15:08] sandervanhooft commented on #53
Can you tell me what subscription it is? I.e. trial subscription with payment upfront?

[2019-09-10 08:58] RobertBoes commented on #53
It's a subscription with a generic trial, so the user doesn't have a subscription yet and no payments have been made yet, i.e. the first_payment (1 euro) is not used. I'm using the example code that's provided in the readme, but I've added `->withCoupon('welcome')`.

I would assume that when creating a new subscription with a coupon, the coupon would be applied when making the first payment. I don

[2019-09-10 14:44] sandervanhooft commented on #53
(FYI, your code looks like you're starting a normal subscription, not a _generic_ one, but that's beside the point here 😄)

Ok. So there are a few things going on here that need attention. Let me share my thoughts here.

Right now, the business logic is as such that the coupon should not be applicable to a trial.

But...

a) it should also be possible to redeem in trial mode.

b) if applicable, an

[2019-09-10 14:48] sandervanhooft commented on #53
@robertboes can you share the metadata from the payment (you can find this in the Mollie dashboard)?

[2019-09-10 14:51] RobertBoes commented on #53
Sure, here it is:
[code]

[2019-09-11 15:23] #49 closed

[2019-09-12 09:18] sandervanhooft opened #59 "Deprecate support for older Laravel versions"
Right now this package's support goes back to Laravel 5.5, which is the latest LTS before 6.0

As stated in the [Laravel support policy](https://laravel.com/docs/6.0/releases#support-policy), only version 5.8 and up are supported currently.

So it's time for Cashier Mollie to drop support for Laravel versions prior to 5.8.

This includes:

- [ ] Dropping support for Laravel versions prior to 5.8
-

[2019-09-12 13:44] #59 closed, assigned to nobody

[2019-09-16 13:46] sandervanhooft commented on #53
Still at it, hope to release an improved version later this week.

[2019-09-17 17:05] timyboy12345 opened #61 "Invalid API key after download"
I just downloaded the latest version of cashier-mollie and was excited to use it. However, after downloading it gave the error ```Mollie\Api\Exceptions\ApiException  : Invalid API key: ```. An API key must start with 'test_' or 'live_' and must be at least 30 characters long.', while I'm not using the API anywhere.

I also added the ```MOLLIE_KEY="***"``` key (with my real key, of course) to my .e

[2019-09-17 17:15] timyboy12345 commented on #61
Well, I did fix it. But it still seems like it could be solved a little easier. Here's what I did to fix it:
1. Remove the cashier-mollie package
2. Clear the cache and config
3. Re-require the cashier-mollie package. Because the config is reloaded it reads the key and doesn't throw an error.

Maybe there could be a check to make sure a key has been passed to the config? This way, the error isn't

[2019-09-17 17:38] sandervanhooft commented on #61
Thanks for following up :).

The issue was probably solved by setting the key in .env and clearing the cache.

Currently there's no way around this as Laravel Mollie's ServiceProvider needs to be eagerly loaded. May solve that later on down the road.

[2019-09-17 17:38] #61 closed

[2019-09-18 04:31] meesudzu opened #62 "BadMethodCallException: Call to undefined method App\User::getInvoiceInformation()"
Hi, I'm start with laravel-mollie.
But when I try to call $user->invoices();
It response an BadMethodCallException.
![Screenshot from 2019-09-18 11-27-14](https://user-images.githubusercontent.com/17334624/65111749-6bd10f00-da07-11e9-8a61-2d484533da36.png)
I'm just a beginner with laravel-mollie and I cant find where is the support disscussion.

[2019-09-18 05:15] robindirksen1 commented on #62
Did you add this trait to the user model as mentioned in the installation instructions?

Laravel\Cashier\Billable

[2019-09-18 06:44] meesudzu commented on #62
Sure, I follow the Setup steps, and It's in step 6.

[2019-09-18 09:15] sandervanhooft commented on #62
You seem to have skipped a few steps within step 6.

[2019-09-18 09:50] meesudzu commented on #62
Oh, sorry. I forget to Implement Laravel\Cashier\Order\Contracts\ProvidesInvoiceInformation interface.
Mybad.

[2019-09-18 09:50] #62 closed

[2019-09-18 11:57] browar777 opened #63 "Apply coupon to existing subscription"
Hi, i have question if is possible to apply coupon to existing subscription ?

[2019-09-18 13:36] lexdewilligen commented on #47
Could you perhaps provide me with some issues that occur when using migrations autoloading? I don't really understand why providing this would give an issue. It's just an extra feature. If I were to write a PR that doesn't change your current workflow, but does implement `loadMigrationsFrom()`, would you accept it?

[2019-09-20 09:18] sandervanhooft commented on #63
Good one. Technically it's possible by creating a `RedeemedCoupon` for an existing subscription manually, but it would be better to provide a helper method on the Subscription model.

Keeping this issue open for this.

[2019-09-20 12:43] sandervanhooft commented on #63
It's possible to use the following until then:

[code]

[2019-09-20 12:44] sandervanhooft commented on #63
The coupon would then be automatically applied when the next payment is due.

[2019-09-21 12:08] meesudzu opened #64 "[HELP] Is there anyway to store Mollie subscription's plans in database instead of hardcode in config/crashier_plan.php ?"
As the title,
I need to manager Mollie subscription's plan in admin panel. But it's hardcode config in config/crashier_plan.php.
Is there anyway to store it in database?
Thanks for support.

[2019-09-21 13:08] sandervanhooft commented on #64
You can implement the PlanRepository contract and bind it into Laravel’s service container.

[2019-09-21 13:08] #64 closed

[2019-09-23 11:11] lexdewilligen opened #65 "Implementing multiplan subscriptions"
As explained in issue [#397](https://github.com/laravel/cashier/issues/397) from Laravel Cashier Stripe, multiplan subscription would be a very nice feature. Could you implement this for us or is this already available? Would you accept PR's on this?

[2019-09-23 13:42] sandervanhooft commented on #65
Hi @lexdewilligen,

Yeah this was one of the architecture concerns when I started this project.

You can implement this by scheduling `Cashier::run()` to run monthly (or tinker with the underlying method to match it better to your use case).

All order items that are due at that moment will be processed into one single order (and invoice). Multiple currencies will be split into multiple orders.

[2019-09-23 13:42] #65 closed

[2019-09-24 18:08] jkaan opened #66 "Start subscription at beginning of month and charge remainder for first payment"
Hi there!

I have a question about a particular requirement that I have and I'm struggling on how to implement it :).

What I would like is it the subscriptions always start at the first of the month. Doing that means that I would also like to charge the user for what is remaining of that month. Let's say that I start a subscription at the middle of the month of a 20 euro subscription. I would lik

[2019-09-25 13:07] jkaan opened #67 "Possible bug found: Argument 1 passed to mollie_object_to_money() must be an instance of object, instance of stdClass given, called in vendor/laravel/cashier-mollie/src/MinimumPayment.php on line 21"
While Laravel runs the scheduled job I get the following error. Weird however is that if I run `cashier:run` myself from the CLI, it just works.

When retrieving the minimum payment the object is a stdClass and not an object and that is what is going wrong apparently.

[2019-09-25 13:19] jkaan commented on #67
Found that the scheduled job was using PHP 7.1, which was in /usr/bin/php and I was myself using /usr/local/bin/php which was 7.3.

[2019-09-25 13:19] #67 closed

[2019-09-25 18:06] jkaan opened #68 "Usage with Mollie Connect"
I'm working on an application which uses Mollie Connect to setup subscriptions using Mollie accounts from third parties.

I would like to leverage this library to for example handle swapping plans on the next cycle and pausing or resuming the current subscription.

I'm trying to find out a way to make this work, I think I have an idea but I was wondering if you have an idea on how to make this wor

[2019-09-25 18:43] runforrestrun commented on #68
What is your question exactly?

[2019-09-26 12:45] sandervanhooft commented on #68
This package was not designed to be used with Mollie Connect / OAuth(2) / Laravel Socialite. Can't help you there, sorry. 🤷‍♂

[2019-09-26 12:45] #68 closed

[2019-09-26 12:52] sandervanhooft commented on #66
This is called "anchoring the billing cycle".

This is not supported yet. There's a few things that we'd need for that:

- To do: Modify the subscription interval calculation to enable a fixed day (n) of the month, see issue #44
- Available: Reset the payment cycle and reimburse the amount overpaid. You can use [this subscription method](https://github.com/laravel/cashier-mollie/blob/baab6f2546750

[2019-09-26 12:59] robindirksen1 commented on #66
This is issue #41 instead of PR #44, right?

[2019-09-26 14:49] sandervanhooft commented on #66
Correct, updated in original post.

[2019-09-27 19:11] Jabirr opened #69 "How does PlanRepository work to add plans to a migration instead of the config file?"
Hi,

I have read in another post that if you want to make a migration for your plans that you should use PlanRepository. How does this work?

- Jabir

[2019-09-29 19:23] RobertBoes commented on #69
Hey @Jabirr,

It seems like you'd have to bind the contract `Laravel\Cashier\Plan\Contracts\PlanRepository` to your own implementation that implements this contract.

You can do this in a service provider of your own like this:
[code]

Your DatabasePlanRepository class would then contain the logic of fetching the items from the database, but you'll have to make sure you're returning objects that i

[2019-09-30 14:00] Jabirr commented on #69
Hey thx for the start.
Im trying to figure out what i need to put in a migration to migrate the right data.
I thought of something like this.
![image](https://user-images.githubusercontent.com/31471200/65885567-2dd6d200-e39b-11e9-9323-65dd9adbba3f.png)
Do i need to add something in the cashier_plans.php so it can refer to a db too? because when you search for a plan that doesnt exist it will say t

[2019-09-30 14:18] RobertBoes commented on #69
I think you're on the right track. If you're using your own implementation of PlanRepository you don't need to worry about the config in `cashier_plans` (because this isn't used anymore).

The 404 is because, in my example, `DatabasePlanRepository->findOrFail()` uses the default eloquent method (findOrFail), this throws a ModelNotFound exception. I think you'll need to throw a `PlanNotFoundExcepti

[2019-09-30 14:28] Jabirr commented on #69
Hi @RobertBoes

First of all, thx for the quick reply. I kind of figured the implementing out too. I think the only issue is now is that it cant find a currency
![image](https://user-images.githubusercontent.com/31471200/65887786-cde22a80-e39e-11e9-96f2-0ba6be3f8142.png)

How ever, searching through the code i found out it finds a plans value like this.
![image](https://user-images.githubuserconte

[2019-09-30 16:59] Jabirr commented on #69
Hey guys,

I figured it out with help of @RobertBoes ofcourse.

First of all to start using an custom PlanRepository. You have to bind the contract Laravel\Cashier\Plan\Contracts\PlanRepository to your own implementation that implements this contract.

You can do this in a service provider of your own like this:
[code]
Your DatabasePlanRepository class would then contain the logic of fetching the

[2019-09-30 16:59] #69 closed

[2019-10-02 07:06] sebastiaands opened #70 "Setting the quantity on the SubscriptionBuilder only works when the user has a mandate"
When I create a new subscription it looks like I can set the quantity on the `SubscriptionBuilder`:
`$user->newSubscription($name, $plan)->quantity(10)->create();`

This does work fine when the user already has a mandate, but is doesn't work when the payment is done using iDEAL.

[2019-10-02 09:23] sandervanhooft commented on #70
Hi @sebastiaands ,

That's unfortunate. Can you share the payment 1) metadata and 2) amount? It's in the Mollie Dashboard.

[2019-10-02 12:59] sebastiaands commented on #70
Hi @sandervanhooft ,

Thank you for your response.
Hereby an example of the metadata:
[code]

[2019-10-02 14:39] RobertBoes commented on #53
Any update on the progress? We really want to start implementing this, but we're depending on preprocessors to work for the very first payment.

[2019-10-02 15:07] sandervanhooft commented on #53
Hi @RobertBoes ,

Good news: I'm preparing the PR right now.

The issue was more complex than I expected, so I had to sit on it for a bit before moving forward. Sorry for that.

[2019-10-02 15:10] sandervanhooft commented on #53
[I had to make one change, probably not breaking anything](https://github.com/laravel/cashier-mollie/pull/71/files#r330607629)

[2019-10-02 15:38] sandervanhooft commented on #70
Thanks!

Preparing a fix in #71

[2019-10-02 15:43] sandervanhooft commented on #53
I'll open a separate issue for documenting the coupon logic.

[2019-10-02 15:43] sandervanhooft opened #72 "Document the coupon logic"
As discussed in #53, the coupon logic requires documentation.

[2019-10-02 15:44] #53 closed

[2019-10-03 07:19] sandervanhooft commented on #70
Just released [a fix](https://github.com/laravel/cashier-mollie/releases/tag/v1.2.0)

[2019-10-03 07:19] #70 closed

[2019-10-03 07:21] sebastiaands commented on #53
Hi @sandervanhooft ,

Thanks for your work! I tried your fix and there seems to be an issue. When I apply a coupon to a new subscription, the following metadata is sent to Mollie:
[code]

The last item in the array is `null`, which causes the following error when Mollie does its callback:
`Trying to get property 'handler' of non-object {"exception":"[object] (ErrorException(code: 0): Trying to get

[2019-10-03 07:34] sandervanhooft commented on #53
Thanks for the super fast response!

I've just released `v1.2.1` to fix this issue, can you give it a spin?

[2019-10-03 07:34] sandervanhooft commented on #53
https://github.com/laravel/cashier-mollie/releases/tag/v1.2.1

[2019-10-03 07:45] sebastiaands commented on #53
Yes, that works! Is it correct that coupons are not mentioned on invoices?

[2019-10-03 07:54] sebastiaands opened #75 "Applied coupons are not mentioned on invoice for FirstPayments"
When applying a coupon when the user has already a mandate, the coupon is mentioned on the invoice. But when the user doesn't have a mandate yet and the payment is done via iDEAL, the invoice doesn't mention the coupon.

[2019-10-03 07:59] sebastiaands opened #76 "The times property of a coupon is not used"
In the `cashier_coupons.php` cofig file, you can set the `times` property.
This property doesn't seem to be used. After applying a coupon with a `times` value higher than 1 the `times_left` column in the `redeemed_coupons` table is always 0 (or 1 before processing the order).

[2019-10-03 08:26] sandervanhooft commented on #76
Thanks.

Can you check whether 1) this only happens on first payments, and 2) a AppliedCoupon record was created?

[2019-10-03 08:51] sebastiaands commented on #76
This happens on both first payments and other payments. And an AppliedCoupon object is created.

[2019-10-03 09:53] sandervanhooft commented on #76
Found it, the issue is in the `ConfigCouponRepository`. Preparing a PR.

[2019-10-03 09:53] #76 closed

[2019-10-03 10:09] #75 closed

[2019-10-03 10:09] sandervanhooft commented on #75
PR prepared

[2019-10-03 10:13] sandervanhooft commented on #76
@sebastiaands , can you give the `develop` branch a spin?

[2019-10-03 10:13] sandervanhooft commented on #76
Should fix both of your issues.

[2019-10-03 10:42] sandervanhooft commented on #42
I'd like to stay as close to Cashier for Stripe as possible, so let's start there.

Cashier for Stripe offers the following on the Billable trait for one off charges (I'm trying to understand the differences):

[code]

[2019-10-03 10:43] sandervanhooft commented on #42
As I understand it:

- `charge()` and `tab()` result in charges to be processed in the upcoming bill, so the billing cycle is left intact.
- `invoice()` and `invoiceFor()` trigger payments directly, without delay.

[2019-10-03 10:56] sandervanhooft commented on #42
Ok, the laravel docs state that the difference is just charging with or without an invoice... 😕

[2019-10-03 11:03] sandervanhooft commented on #42
Checking this with Dries.

On another note, I'd like to either return a RedirectToCheckout or an Order, depending on whether the customer has registered a valid payment mandate.

This is similar to starting a new subscription.

[2019-10-03 11:38] sebastiaands commented on #76
Hi @sandervanhooft , both issues seem to be fixed.
Thanks!

[2019-10-03 11:44] sandervanhooft commented on #76
Released! https://github.com/laravel/cashier-mollie/releases

[2019-10-03 11:50] sandervanhooft opened #78 "FirstPayment minimum after coupon"
How should the FirstPayment amount be increased to meet the minimum payment amount (`config('cashier.first_payment.amount')` requirement?

- add the extra required amount as a service fee
- add the extra required amount to the balance

What do you think?

Context: in some cases the first payment amount will drop below the required minimum. I.e. when a coupon was applied.

[2019-10-03 14:06] rbresjer opened #79 "Localize subscription descriptions and coupon descriptions"
The descriptions of the subscriptions and the descriptions of the coupons are now hardcoded in the config. As we are creating a multi-language application it would be nice to localize these descriptions as well.

[2019-10-03 14:23] sandervanhooft commented on #79
Nice idea. Feel free to submit a PR :)

[2019-10-04 08:16] RobertBoes commented on #78
I think it would be best to add this to the customer's balance, this way it's less confusing for the customer. I would assume the following would happen:

- MInimum payment: €10.00
- Plan: €15.00
- Coupon: €10.00

When the coupon is set to 1 time, the customer pays €10.00 the first time and €5.00 is added to their balance. This is also mentioned on their invoice. The second time the customer effec

[2019-10-04 08:23] sandervanhooft commented on #78
Thanks @RobertBoes !

To be clear, this is about preventing Exceptions thrown by Mollie, triggered by a payment amount being too small.

So it's usually set to €1.00 minimum (to cover all different payment methods) in the config.

I agree that the app developer should try to avoid these scenario's, but since it might happen, better to deal with it :).

Also good to know: for payments after the fir

[2019-10-04 10:02] RobertBoes opened #80 "Discussion - Adding preprocessors to the first payment"
Preprocessors are currently not applied to the first payment. What I'm trying to do is adding extra items to the subscription, as a very basic test I've created the following preprocessor:

[code]

This does add two items to subsequent payments, but not to the first payment.

After reading through the code, I'm want to try to create a PR, but I'm not sure if I'm on the right track. It seems like t

[2019-10-04 12:47] sandervanhooft commented on #80
Just to understand, can you give me a use case for using a preprocessor on the first payment?

[2019-10-04 13:13] RobertBoes commented on #80
We have a few base plans, like regular and pro for example. But we also have some more dynamic "add-ons" for those plans. For example a user has a regular plan which includes x items, but they can purchase additional items for that plan (also monthly billed). In the code sample above you can see I'm adding 2 OrderItems to the plan. So an invoice would look like this:

| Description          | Unit

[2019-10-04 18:20] sandervanhooft commented on #80
Thanks for clearing that up. I understand the requirement now :).

Seems like we're looking for a way to have different behaviour between a) first payment preprocessing and b) mandated payment preprocessing.

I'm not sure about using a flag (boolean) on the preprocessor. What if the preprocessor's default handle method has external effects other than modifying the OrderItemCollection (like with co

[2019-10-04 18:21] sandervanhooft commented on #80
And c) optionally have the same behavior.

[2019-10-05 11:55] SanderMuller commented on #80
The difficulty with this is finding a solution that keeps the package modular so it can suit as many use cases as possible.

In the case of offering addons through preprocessors, the first charge is basically the same as any recurring charge.

I think the most powerful option is when a preprocessor or coupon can decide if it should be applied on all charges, or only on the first charge, or only on

[2019-10-07 15:19] Jabirr opened #81 "Target [Laravel\Cashier\Coupon\Contracts\CouponRepository] is not instantiable."
Hi

I have made a project where users can subscribe to a plan. Its working as intended on my local server and today I pushed it to my testing server. When ever i want to go to the checkout it will give me this error.

![image](https://user-images.githubusercontent.com/31471200/66324771-5b38f800-e926-11e9-82f9-a1b528c6c142.png)

Its before i get on the mollie checkout page. And it seems to break at

[2019-10-08 11:15] RobertBoes commented on #81
Have you created your own implementation of CouponRepository, like you asked for the PlanRepository in #69 ? If so, could you share the code where you're binding the CouponRepository and how your implementation looks like?

[2019-10-08 11:16] Jabirr commented on #81
No i did not, in fact im not using coupons in my application at this moment. Thats why i am wondering why its not working. Is there something i have turned on while its asking for a coupon but it cant find one? And thus giving me this error?

[2019-10-09 07:07] sandervanhooft commented on #81
First things first: can you check you're using the same versions in both environments?

[2019-10-09 07:15] sandervanhooft commented on #80
The charges may be the same on both the first payment Order and subsequent mandated Orders, but the business logic does not have to be. I.e. on a mandated payment you may want to reset a monthly bandwidth counter. Basically you don't want to persist anything on the first payment.

That's why I'm rooting for separating the `handle()` and the `handleFirstPayment()` methods.

Concerns/traits are a gr

[2019-10-09 08:11] sandervanhooft commented on #79
At first glance I'd say this would be possible in the blade template, what do you think?

[2019-10-09 08:13] sandervanhooft commented on #72
#80

[2019-10-09 08:35] Jabirr commented on #81
Hi @sandervanhooft

They are both the same version
[code]

- Jabir

[2019-10-09 08:47] rbresjer commented on #79
But does that also change the name of the subscription shown on the Mollie pages, and in the bank transfer?

[2019-10-09 08:48] sandervanhooft commented on #79
You're right, it doesn't.

[2019-10-10 08:17] larsjanssen6 opened #83 "Please tag a new version"
Hi,

Please tag a new version because right now it can't be installed
with Laravel 6.

`Installation request for laravel/framework (locked at v6.2.0, required as ^6.2) -> satisfiable by laravel/framework[v6.2.0].`

Thanks!

[2019-10-10 08:44] sandervanhooft commented on #83
Done

[2019-10-10 08:44] #83 closed

[2019-10-10 08:45] sandervanhooft commented on #81
Can you use `composer show laravel/cashier-mollie` to check the actual version installed?

The `composer.json` file will only show you what versions are _allowed_.

[2019-10-10 13:59] sandervanhooft commented on #81
What version specifically?

[2019-10-10 14:01] Jabirr commented on #81
V1.1.0 on both local and server.

[2019-10-10 14:15] sandervanhooft commented on #81
Can you upgrade to the latest, on both machines?

[2019-10-10 14:16] sandervanhooft commented on #81
We're at `v1.2.3` currently

[2019-10-11 11:52] Jabirr commented on #81
Updating to the newer versions seemed to fix the problem. Sorry for not realising earlier!

[2019-10-11 11:52] #81 closed

[2019-10-11 12:45] sandervanhooft commented on #81
No problem, thanks for the follow-up!

[2019-10-11 12:47] Jabirr commented on #81
I know its a question i shouldnt be asking here, but do you have something like a place where we can ask quick questions like discord. Im now wondering why my webhook isnt working on the live server. Even tho its saying on the mollie dashboard what the webhook is. So im wondering where i can help like this? Or is opening a new issue fine too.

[2019-10-14 09:28] pascallieverse opened #84 "Can't upgrade to laravel 6.2"
- cashier-mollie: 1.2.3
- Laravel Version: 6.0.3
- PHP Version: 7.2.11

When upgrading Laravel from 6.0.3 to laravel 6.2 cashier gives the following error when running composer update

  `Problem 1
    - Conclusion: remove laravel/cashier-mollie v1.2.3
    - Installation request for laravel/cashier-mollie 1.2.3 -> satisfiable by laravel/cashier-mollie[v1.2.3].
    - Conclusion: don't install larav

[2019-10-14 20:21] pascalbaljet commented on #84
This was fixed recently (https://github.com/laravel/cashier-mollie/pull/82) but I think it’s not in 1.2.3 yet.

[2019-10-15 06:22] pascallieverse commented on #84
If you see the release notes of 1.2.3 it should be fixed with your commit but its not working: https://github.com/laravel/cashier-mollie/releases/tag/v1.2.3

[2019-10-15 13:24] sandervanhooft commented on #84
Yeah something went wrong it seems. Will look into it. Thanks for reporting.

[2019-10-15 13:30] sandervanhooft commented on #84
Done. Use `v1.2.4`.

[2019-10-15 13:30] #84 closed

[2019-10-15 13:33] sandervanhooft commented on #80
@RobertBoes what do you think?

[2019-10-15 13:35] pascallieverse commented on #84
Thanks, can confirm 1.2.4 is fixing the problem.

[2019-10-15 13:47] sandervanhooft commented on #84
Thanks for confirming. The root cause was that the develop / master branch workflow was messing with my head 🤦‍♂ .

[2019-10-15 14:42] marijnbent opened #86 "Way to go for showing order confirmation/failed page"
What would be the way to go for showing the correct page after the user returns from Mollie. If the orderId was added to the redirect_url, we could fetch the mollie_payment_status. What's your take on this @sandervanhooft?

[2019-10-15 14:47] sandervanhooft commented on #86
At first glance I kinda like it :). Would save me some trouble with Spark as well if we can solve this in Cashier.

[2019-10-15 15:20] mikelmao opened #87 "Settings plans from database insted of cashier_plans config"
I see in ConfigPlanRepository the plans array from the cashier_plans get's loaded though my plans are dynamicly loaded from the database based on which product_id is selected. Is there a way to set it up to load it from the DB instead of from the configs? Otherwise, what does this exactly do, what happens if i just leave that array blank? Or how would i go about extending the ConfigPlanRepository

[2019-10-15 15:23] #87 closed

[2019-10-16 16:10] mikelmao opened #88 "Redirect url per plan in the database doesnt seem to be working"
I have implemented plans being loaded from the database per issue #69 which seems to be working fine. Though i have added the column firstPaymentRedirectUrl (varchar) and it does not seem to load this.

My DatabasePlanRepository looks like this:

[code]

And my plan model as followed:

[code]

As you can see i have added the _firstPaymentRedirectUrl_ and _setFirstPaymentRedirectUrl_ methods. Thoug

[2019-10-17 07:37] Jimmylet opened #89 "Get the checkout URL"
Hello,

Is there a way to collect the payment URL that redirects to Mollie?
I am trying to use your package with vuejs in a SPA.

It seems to work (great job, thanks! Mollie is really better than Stripe for us Europeans).

Here is my controller :

[code]

In chrome, I get a good xhr. When I copy / paste the link into the browser, I'm redirecting to Mollie.

What I need is to send the redirection l

[2019-10-17 08:10] sandervanhooft commented on #89
Hi,

Yes you can. I've decorated the RedirectResponse to return a ReturnToRedirectResponse instead.

So you can do:

[code]

[2019-10-17 08:10] #89 closed

[2019-10-17 09:49] sandervanhooft opened #90 "Simplify coupon validation"
Hi everyone,

For the Spark integration it would be beneficial to simplify the Coupon validation.

The current Coupon method signature for validation is:

[code]

I built this to enable a stricter checking of the coupon than simply checking it for existence. But now it's released I notice that it's overly complex for many use cases to prepare a (unpersisted) `$model` that would be accepting the di

[2019-10-17 10:14] sandervanhooft commented on #88
Confirmed, it's a bug.

[2019-10-17 10:16] sandervanhooft commented on #88
It seems The FirstPaymentSubscriptionBuilder is not using the `firstPayment` overrides from the Plan.

[2019-10-17 10:21] larsjanssen6 opened #91 "How should I get the order from the OrderItem ?"
Hi,

I'm trying to get the `Order` from an `OrderItem` but I don't see
a `belongsTo` relation on the `OrderItem`.

Only `orderable` and `owner`.  Maybe we should add it?

Thanks!

[2019-10-17 10:24] sandervanhooft commented on #91
Sure, feel free to send in a PR.

[2019-10-17 10:25] sandervanhooft commented on #88
Will look into this.

[2019-10-17 12:09] larsjanssen6 commented on #91
#92

[2019-10-18 08:39] mikelmao commented on #88
I have created my first ever pull request with the fix. Im not sure if i did it right, i followed a youtube video how to make pull requests on github xD @sandervanhooft

[2019-10-18 10:08] Anthony2511 opened #94 "Can't get invoices"
Hello,

I'm trying to retrieve the list of invoices.

[code]

In my JSON response, I get an empty array. Do you know why ?

My orders table contains some data.

Can you explain me ?

Thank you !

[2019-10-18 15:35] sandervanhooft commented on #86
We could use `{order_id}` in the route, and replace it dynamically if it's used there.

[2019-10-18 16:14] sandervanhooft commented on #94
Hi @Anthony2511,

The `Invoice` is a plain php object. You'll need to build the array you want using the object getters.

Alternatively, I'm open to a PR adding a `toArray()` method. 😄

[2019-10-18 16:14] #94 closed

[2019-10-20 11:52] #88 closed

[2019-10-20 11:54] sandervanhooft commented on #88
Just pushed a fix to `develop`. Your PR was definitely heading in the right direction, but I needed additional tests and some more to fix the whole problem.

[2019-10-20 12:06] sandervanhooft commented on #91
#92 Merged into `develop`. Thanks @larsjanssen6 !

[2019-10-20 12:06] #91 closed

[2019-10-20 13:03] sandervanhooft commented on #86
Scratch that. The Order is not created before the payment has been paid, so there's no `order_id` available.

I have discussed this with Mollie a while ago, and we ended up adding an Update Payment API endpoint.

Long story short: we can update the Payment's `redirectUrl` right after the payment has been created in order to include the `paymentId` (i.e. when the `redirectUrl` contains `{payment_id

[2019-10-20 13:05] sandervanhooft commented on #86
So that would all need to happen in the `FirstPaymentBuilder.create()` method.

[2019-10-20 13:47] sandervanhooft commented on #86
Fix merged in `develop` 😄 .

With this you will be able to use `{payment_id}` in the `redirectUrl`. Using this `payment_id` in your controller, you can either retrieve the Order (locally) or the Payment (from Mollie) to check the status.

[code]

Make sure you reference the `{payment_id}` in your route definition as well!

[2019-10-20 13:47] #86 closed

[2019-10-20 13:48] sandervanhooft commented on #86
I don't know about you @marijnbent , but I am really happy about this 🕺 !

[2019-10-21 09:11] marijnbent commented on #86
Really cool Sander! This should help a lot with displaying the proper page, thanks 💃!

[2019-10-22 12:43] pascallieverse opened #96 "SubscriptionCreated Event"
It would be nice to have a special event for when a subscription is created and paid or a trial is requested so that its possible for example to setup some files when a user subscription is starting.

It should be fired when `newSubscription` is called with an existing mandate or when the redirect is done to Mollie and the payment is paid.  Or when a subscription is created with the trial option i

[2019-10-22 12:54] sandervanhooft commented on #96
Hi @pascallieverse ,

Agreed.

The implementation doesn't have to be complex though. The event should fire when the Subscription Eloquent model is created, as in the example [here](https://laravel.com/docs/6.x/eloquent#events).

Feel free to submit a PR (don't forget the tests).

[2019-10-22 13:03] pascallieverse commented on #96
Thanks,

I will start working on the PR now

[2019-10-22 13:06] sandervanhooft commented on #96
Could you add it to the event list in the README as well?

[2019-10-22 14:04] RobertBoes commented on #80
I think more use-cases should be figured out, since I would assume the preprocessors would always be called, even on the first payment. But that's also where it gets complicated, since the first payment requires a different flow.

I don't have a complete overview how the first payment differs from a mandated payment, so it's quite difficult for me to know what exactly needs to be handled different

[2019-10-22 14:19] RobertBoes commented on #90
So the check would change from "exists and not used before" to "exists"?

I don't see a reason to change the validation, since there could be a lot other requirements in certain projects. For example I could imagine a coupon to only be applicable to one plan, which requires me to handle this in my project, that doesn't have to be a task of cashier to check. The applied-before check is also quite o

[2019-10-22 14:29] sandervanhooft commented on #90
Thanks for weighing in @RobertBoes .

The validation you are referring to is the one I've included by default, and I think it will match most (basic) use cases. I'm happy it matches your expectations (as it did mine).

The primary reason I am doing this sanity check here is that it will require some hacking into Spark to get this to work. 😅

But I agree, I've designed the validation like this for

[2019-10-22 14:29] #90 closed

[2019-10-22 14:38] sandervanhooft commented on #80
There are essentially three scenario's in which the preprocessors should be used:

1. Preparing the first payment. At this stage nothing is persisted yet, all is captured as actions and sent to Mollie in the payment metadata. The preprocessors are used to calculate the total payment amount. I advise to _not_ trigger any persisted side-effects at this point.
2. Processing (handling) the first payme

[2019-10-22 14:42] sandervanhooft commented on #80
I agree that in 99% (perhaps even 100%) of the cases the preprocessors should fire on both first payments and mandated payments, but there's an important distinction between scenario 1 and 2 in my previous message we should cater for.

[2019-10-22 14:43] sandervanhooft commented on #80
Perhaps simply having a `prepareFirstPayment` method, which points to the default handle method is enough. And override it where necessary.

[2019-10-24 10:19] sandervanhooft commented on #63
Adding `$billable->redeemCoupon()` now (`develop`), expect a release later today.

[2019-10-24 11:55] #96 closed

[2019-10-24 11:56] sandervanhooft commented on #63
Done. Available now!

[2019-10-24 11:56] #63 closed

[2019-10-24 11:57] sandervanhooft commented on #96
Available now on `v1.4.0`! Thanks again @pascallieverse !

[2019-10-24 13:43] pascallieverse commented on #14
It would also be nice to have metadata for each subscription and not connected to a predefined plan.
So you could save a variable as "domainname" for example. Currently I am using the name of the subscription as foreign key to add more information to a subscription.

[2019-10-24 14:07] sandervanhooft commented on #14
@pascallieverse Can you open a separate issue for this?

[2019-10-24 14:27] pascallieverse opened #99 "Metadata on subscriptions"
It would be nice to have metadata for each subscription so you could save a variable as domain name for example. Currently I am using the name of the subscription as Foreign key to add additional metadata, it would be better to just add some metadata to the subscription itself.

Maybe it can be implemented the same way the cashier stripe package adds additional data to a subscription:

    $user->

[2019-10-25 10:59] DevyDalton opened #100 "Mollie payment status for order not updated after incoming payment webhook"
It appears that the mollie payment status in the order table is not updated with an incoming payment webhook.

I checked the WebhookController and it looks like the Order::findByPaymentId method is not returning the order.

[code]
I checked the method in Plan model class and tested it outside the WebhookController with the same payment id. Then the Order is returned so the method seems to work. I

[2019-10-25 12:04] sandervanhooft commented on #100
Hi @DevyDalton ,

I can't reproduce the problem.

1. Can Mollie call your webhooks? You can check this in the Mollie dashboard for each Payment.
2. Is this about the First Payment (via the Mollie checkout), subsequent premandated payments, or both? Each flow has its own route, controller etc. .

[2019-10-25 12:10] sandervanhooft commented on #99
Hi @pascallieverse ,

I agree that it's interesting but it would cause a breaking change. I'll label it for cashier-mollie v2.

[2019-10-25 12:41] DevyDalton commented on #100
Hi @sandervanhooft

Thanks for your awnser.
Mollie can call my webhooks. The Mollie dashboard also shows that the webhooks be called successfull. It only concerns the subsequent premandated payments, first payment goes well.

In the WebhookController I do receive the payment response from Mollie (with status paid). Only the retrieval of the order (findByPaymentId) returns null. If i check the data

[2019-10-25 12:55] sandervanhooft commented on #100
Hi @DevyDalton,

Thank you for the kind words :).

I've just written and run this test, seems to work ok, so I'm not sure what's going on:

[code]

[2019-10-25 13:02] sandervanhooft commented on #100
Modified it a bit further, but it can be found [here](https://github.com/laravel/cashier-mollie/blob/0e3c0c36771019b6da54b08112a5af6af9a00f38/tests/Order/OrderTest.php#L424:L434) now.

[2019-10-25 13:19] DevyDalton commented on #100
@sandervanhooft I did the same thing and for me it worked as well. But if I test it with "real" mollie payment it doesn't update the payment status for the order.

I also tested it with a new Laravel installation but there i have the same problem. I already spent a couple of hours(learned a few nice new things exploring this package) to find the problemen but I can't figure it out.

[2019-10-25 13:41] sandervanhooft commented on #100
I hacked a bit into the `WebhookController` to debug the problem:

[code]

[2019-10-25 13:42] sandervanhooft commented on #100
And tested the call with curl:

[code]

[2019-10-25 13:43] sandervanhooft commented on #100
Found 1 bug:

[code]

should be

[code]

[2019-10-25 13:44] sandervanhooft commented on #100
Next, it's also good to know that Mollie does not automatically update the payment status to `paid` when it's in test mode AND it's a premandated payment. You can fetch an url to do so manually from the payment object.

[2019-10-25 13:44] sandervanhooft commented on #100
I'll fix the bug now, let's go from there.

[2019-10-25 13:48] sandervanhooft commented on #100
BTW, this was the log

[code]

[2019-10-25 13:59] DevyDalton commented on #100
@sandervanhooft Thanks for your input. I updated the WebhookController as well. I did a test payment with Mollie. This is my log. I don't understand why the findByPaymentId returns null.
[code]

[2019-10-25 14:01] sandervanhooft commented on #100
Me neither... 🤷‍♂ 😅

[2019-10-25 14:04] sandervanhooft commented on #100
Did you make any webhook-related changes to the configs?

[2019-10-25 14:06] sandervanhooft commented on #100
or in the `create_orders_table` migration?

[2019-10-25 14:14] DevyDalton commented on #100
I fetch the plans from the database as discussed in this issue: #69. I didn't changed anything in the orders migration.

But like I sad before I also experienced it on a fresh Laravel installation with the default settings. So I think its unlikely that has something to do with the database plans config. But I will investigate a bit more in the fresh Laravel setup with the default settings.

[2019-10-25 14:16] sandervanhooft commented on #100
I've added a `findPaymentByIdOrFail` method for your convenience. It's on the `develop` branch now.

[2019-10-25 14:20] sandervanhooft commented on #100
And I've simplified the findPaymentById and findPaymentByIdOrFail methods just now. It's also on the develop branch.

[2019-10-25 14:24] sandervanhooft commented on #100
What Laravel version are you on? What db are you using? It's a strange issue...

[2019-10-25 14:29] DevyDalton commented on #100
Our app uses Laravel 5.8, and the fresh Laravel installation is 6.3. MySQL database on InnoDB engine with utf8mb4_unicode_ci collation.

[2019-10-25 14:32] sandervanhooft commented on #100
Hm nothing exotic in that setup...

[2019-10-25 14:38] sandervanhooft commented on #100
The other way around... Can you fetch the payment like this? (by heart, not tested)

[code]

[2019-10-25 14:51] DevyDalton commented on #100
Yes I can fetch the payment like that. The same payment that I receive in the WebhookController, only with that payment id, the order can not be found. If I try to find the order like this then the order is returned.

[code]

[2019-10-25 15:22] sandervanhooft commented on #100
Works here 🤷‍♂

[2019-10-25 15:44] DevyDalton commented on #100
I found the problem. Mollie is to fast with calling the webhook(or my Homestead setup to slow 😅). The query to save the mollie_payment_id which is created with the create payment call is not finished yet. So when the webhook is called the mollie_payment_id is not filled for the order.

Now I use the findByPaymentIdOrFail method instead of the findByPaymentId. Now the first webhook call from Mollie

[2019-10-25 16:00] DevyDalton commented on #100
I tested this on my development(small $10 digital ocean) server and I experienced the same problem.

[2019-10-25 16:01] sandervanhooft commented on #100
I'm not convinced yet concurrency is the problem here.

[2019-10-25 16:04] sandervanhooft commented on #100
It's possible though. But it would mean that Mollie's webhook call is faster than processing [this](https://github.com/laravel/cashier-mollie/blob/3be8a51bb7047bed9d2717d994be174b67ec0130/src/Order/Order.php#L180-L203).

[2019-10-25 16:08] sandervanhooft commented on #100
Maybe we could:
1. create a UUID
2. store it in the `$order->mollie_payment_id` (before creating the payment)
3. store it in the payment's metadata
4. then update the `$order->mollie_payment_id` as usual
5. in the `WebhookController`, use the UUID as fallback for retrieving the right Order

[2019-10-25 16:09] sandervanhooft commented on #100
This would solve the concurrency issue (if that's the case)

[2019-10-25 16:13] DevyDalton commented on #100
Ok I will pay around a little bit with this solution(maybe not today) but I will let you know the results.

[2019-10-25 16:21] sandervanhooft commented on #100
Modified WebhookController:

[code]

[2019-10-25 16:22] sandervanhooft commented on #100
Modified Order.processPayment():

[code]

[2019-10-25 16:23] sandervanhooft commented on #100
Haven't tested it, feel free to give it a spin when you can.

[2019-10-25 16:30] sandervanhooft commented on #100
If this does not resolve the issue, keep an eye on `DB::transactionLevel()` while setting the uuid. The DB transaction may be delaying the db writes here.

[2019-10-31 10:31] sandervanhooft commented on #100
Hi @DevyDalton any news on this?

[2019-10-31 10:32] sandervanhooft opened #101 "Add skipTrial to Subscription Builders"
`skipTrial` is already available on the Subscription model, but not on the builders.

[Cashier Stripe](https://github.com/laravel/cashier/blob/10.0/src/SubscriptionBuilder.php) may provide some inspiration.

[2019-10-31 12:32] larsjanssen6 opened #102 "Subscription cancel not working"
Hi,

When I try to cancel a subscription:

[code]

I get this error message:

It goes wrong in this method:

[code]

When I `dd($this->cycle_ends_at);` I get a string. But I would except a `Carbon` instance. The `cancelAt` method expects a `Carbon` instance that's why I receive this error.

Am I doing something wrong or is this a bug ?

[2019-10-31 14:46] sandervanhooft commented on #102
Hi @larsjanssen6,

Given the error message it doesn't seem to be an issue with a string, but with `Carbon\Carbon` vs `Carbon\CarbonImmutable`. Can you confirm this?

[2019-10-31 14:54] larsjanssen6 commented on #102
@sandervanhooft Yes correct.

[2019-10-31 15:18] sandervanhooft commented on #102
Are you in any way overriding the default Carbon behavior?

[2019-10-31 15:43] larsjanssen6 commented on #102
When I try it in a fresh laravel project + mollie cashier package it's working. So I guess it's something in my project. I don't override the default carbon behavior. Will let you know when I find it. Thanks for your reaction :)

[2019-10-31 15:43] #102 closed

[2019-11-01 08:45] sandervanhooft commented on #102
No problem @larsjanssen6. Thanks for letting me know!

[2019-11-02 13:19] sigmoidal opened #103 "When is FirstPaymentPaid dispatched?"
Hi,

I wrote an event handler (listener) and registered a custom EventServiceProvider in my package to intercept and handle the FirstPaymentPaid.

Then (in test mode), the user selects the desired plan and he is redirected to the Mollie payment screen, where he can select a status for the payment. The webhook I have specified for the first time payment is triggered correctly (unless of course "Ope

[2019-11-02 15:49] sandervanhooft commented on #103
Hi @sigmoidal ,

The FirstPaymentPaid event is dispatched when the webhook called is AND the payment is known in the system (table `orders`) AND the payment is paid: see the [FirstPaymentWebhookController](https://github.com/laravel/cashier-mollie/blob/dff0ab91a5c2020fccea0b39d01eb13eece7c221/src/Http/Controllers/FirstPaymentWebhookController.php#L27).

Just to be sure: can you double check that y

[2019-11-02 16:39] sigmoidal commented on #103
Hi @sandervanhooft,

Thank you for the swift response.

Ok, my orders table is empty, it doesn't seem anything is added there. I guess I am missing something (first time cashier user...)

I have manually dispatched a FirstPaymentPaid, it gets intercepted and handled without any problems.

Am I supposed to configure/register something for the Orders to be updated ?

thank you.

[2019-11-06 12:01] Jamesking56 opened #104 "Multi-currency"
Does this package support taking payments in multiple currencies? If so, how do I configure per Billable entity what their chosen currency is?

[2019-11-06 14:17] sandervanhooft commented on #104
Hi @Jamesking56 ,

It does support multiple currencies, but the currency is defined on the plan, not on the billable entity. You could define a plan for each currency you'd like to support (i.e. `gold_monthly_eur`).

[2019-11-06 14:17] #104 closed

[2019-11-06 14:21] Jamesking56 commented on #104
Thanks for the fast response,

Is there a way I can generate the plans array rather than hard-code it?

What happens when a plan is removed from the array that has active
subscriptions?

Cheers.

On Wed, 6 Nov 2019, 2:17 pm Sander van Hooft, <notifications@github.com>
wrote:

[2019-11-06 14:36] sandervanhooft commented on #104
subscriptions?

It should be left in for users that are still on the plan. I recommend providing a subset of these plans as active plans to new customers.

You can override the PlanRepository. There are some discussions on how to this in this repo. (i.e. #87)

[2019-11-06 14:39] Jamesking56 commented on #104
Thanks @sandervanhooft :+1:

[2019-11-07 14:29] edcoreweb opened #105 "WebhookController throws exception when payment failed because of missing mandate."
In case of a failed payment which doesn't have a mandate (user deleted card or something), the controller fails, which causes the webhook to fail, and the subscription is not canceled.

https://github.com/laravel/cashier-mollie/blob/develop/src/Http/Controllers/WebhookController.php#L30

https://github.com/laravel/cashier-mollie/blob/develop/src/Order/Order.php#L356

This line throws an exception

[2019-11-07 17:32] sandervanhooft commented on #105
Hi @edcoreweb,

Good catch. I happen to be working on the mandate checks right now, so I'll include a fix there.

It will be a bit more specific, only catching status `404` or `410`. And `try` will exclude the `asMollieCustomer` part.

[2019-11-07 17:41] sandervanhooft commented on #103
Hi @sigmoidal ,

I made a mistake in my previous comment, see my edits. The order (and payment id) are **not** persisted in the system before the first payment has been successfully processed. This is by design.

[2019-11-07 17:55] edcoreweb commented on #105
@sandervanhooft Great!

[2019-11-07 20:56] sandervanhooft commented on #105
Hi @edcoreweb ,

Just checked with Mollie's support because I was unsure about the API behaviour. A revoked mandate will remain retrievable, but will have a status `invalid`. So I don't think this would break this code actually. Can you figure out what triggered your error?

[2019-11-08 09:57] sandervanhooft commented on #105
Nonetheless, I've included a fix in `develop`

[2019-11-08 10:33] edcoreweb commented on #105
@sandervanhooft Sorry for the late reply, not sure why this happened but it can happen.
Maybe Mollie needs to investigate this.

The user payments:
![Screenshot_4](https://user-images.githubusercontent.com/9083523/68469788-85325280-0223-11ea-8df7-d06fea45c973.png)

The missing mandate:
![Screenshot_5](https://user-images.githubusercontent.com/9083523/68469809-94b19b80-0223-11ea-97a5-356217296853.p

[2019-11-08 11:04] sandervanhooft commented on #105
Big thanks for reporting this back in full detail. I'll notify Mollie support.

[2019-11-08 12:35] sandervanhooft commented on #105
Cleared it up: exception 404 is the proper response for fetching a revoked mandate.

[2019-11-08 13:39] sandervanhooft commented on #100
I've included a fix in the `development` branch. Plan on releasing Monday / Tuesday. See #106

[2019-11-08 14:32] #101 closed

[2019-11-08 14:32] #105 closed

[2019-11-08 14:32] #100 closed

[2019-11-14 09:38] larsjanssen6 opened #107 "Make some models macroable"
Hi,

Would it be an idea to make some models `macroable`.

For example I need to add an `address` to the `order` model. If the `order`
model was `macroable` I could add the relation like this:

**Boot method in serviceprovider:**

[code]

Would you accept a PR for this or is there a better way?

Thanks!

[2019-11-14 09:41] sandervanhooft commented on #107
Hi @larsjanssen6 ,

I'm ok with making things macroable. Another way would be to make classes swappable by setting the class in the config, but that would take a lot of work.

[2019-11-14 11:04] larsjanssen6 commented on #107
Looks like this is not possible on models yet in Laravel:

https://github.com/laravel/ideas/issues/1870

[2019-11-14 11:23] larsjanssen6 commented on #107
For now I have overwritten the `subscription` class but maybe in the future we could add this `macroable` trait if it's supported would be nice :)

[2019-11-14 11:23] #107 closed

[2019-11-14 12:40] sandervanhooft commented on #107
Yeah that was what I was afraid of with the macroable trait...

Just curious, how did you overwrite it?

[2019-11-14 13:37] larsjanssen6 commented on #107
@sandervanhooft I made a custom class and extend the `Subscription mollie` class (only need this for Laravel nova).

[2019-11-14 14:18] sandervanhooft commented on #107
Good to know. Thanks!

[2019-11-20 02:09] meesudzu opened #109 "Method MandateClearedFromBillable::handle() does not exist"
I got an error when call the webhook from mollie.
I think this error from the new version.

[code]
Update: I back to v1.1.0 and everything working ok.

[2019-11-23 08:46] Reached opened #110 "downloadInvoice is not defined"
Hi there,

Great job on this package!

I am trying to download invoices for my users, however I keep getting undefined method downloadInvoice. Anything obvious I am missing here?

Function to call the invoice download:

[code]

This is my user model where I include the trait:

[code]

[2019-11-24 16:51] sandervanhooft commented on #110
Hi @Reached,

Thanks for the ❤️ !

Cashier Mollie is not a 1:1 port of Cashier Stripe. The `downloadInvoice` method for example is not available in this package.

You could access the same functionality using:

`$order->invoice()->download();`

Feel free to submit a PR to add the `downloadInvoice` method on the billable trait. I'm closing this issue for now, let me know if it should be reopened.

[2019-11-25 08:45] sandervanhooft commented on #109
Thanks! Found it. Working on a patch.

[2019-11-25 09:04] #109 closed

[2019-11-25 09:09] Reached commented on #110
Thanks for getting back to me @sandervanhooft ! I might make a PR for that, and thanks again for making this package :)

[2019-11-25 09:10] sandervanhooft commented on #110
No problem, enjoy!

[2019-11-25 09:10] sandervanhooft commented on #103
I am closing this issue for now. Let me know if it should be reopened.

[2019-11-25 09:10] #103 closed

[2019-11-25 09:33] sandervanhooft commented on #109
Hi @meesudzu ,

I've just released `v1.6.0` which includes a patch to fix this.

[2019-11-25 10:28] meesudzu commented on #109
thanks for hard working.

[2019-11-25 12:59] sandervanhooft commented on #110
Running into the same issue with Spark Mollie now, so preparing a patch for this.

[2019-11-25 13:04] sandervanhooft commented on #110
https://github.com/laravel/cashier-mollie/commit/f1b2d86ae865140abce2c2b130c451bf0018e2d4

Will be included in next release (later this week probably)

[2019-11-25 13:06] Reached commented on #110
Amazing, well done once again @sandervanhooft :)

[2019-11-27 15:25] pascallieverse opened #114 "SubscriptionResumed Event"
It would be nice to have a event for when a subscription is resumed again. If you agree @sandervanhooft I could make a pull request for adding the event.

[2019-11-27 15:36] sandervanhooft commented on #114
Hi @pascallieverse,

Not convinced yet... I don't see a real benefit here as you can easily wrap the method call (i.e. in a Controller) and add an event there if you need it. The method itself runs synchronously.

What do you think?

[2019-11-27 15:42] pascallieverse commented on #114
Indeed, just had a look at the source.

It wouldn't fit because there is also no notification on when a user cancel the subscription, only when its on the end of the period and its cancellend. It could save some redundancy to implement a notification at the listeners..

[2019-11-27 16:02] sandervanhooft commented on #114
I agree with your consistency argument. I welcome a PR for this!

[2019-11-27 16:04] sandervanhooft commented on #114
(Don't forget to update the docs :) )

[2019-11-27 16:15] sandervanhooft commented on #114
I may be able to include it in tomorrow's release. Otherwise it will be sometime next week.

[2019-11-27 17:06] manufyco opened #115 "Year subscription with monthly billing"
Hi all,
I'm trying to setup two types of subscriptions: 3 months and a 12 months subscription.
Both are monthly charged from the bank account. And auto-renewal for the year subscription one month before the end of the contract.

Is this possible with the current version?
Should I e.g. set the end_at column in the Subscription model at 3 months and 12 months from now at the start?

[2019-11-28 09:55] EvgeniyHablak opened #117 "Issue with getOrder method in WebhookController"
I've got an error while testing the webhooks

`Undefined property: stdClass::$temporary_payment_id {"exception":"[object] (ErrorException(code: 0): Undefined property: stdClass::$temporary_payment_id at /var/www/wordproof/vendor/laravel/cashier-mollie/src/Http/Controllers/WebhookController.php:52)`

And it seems like this is because of different properties in this places
<img width="691" alt="Scre

[2019-11-28 10:16] sandervanhooft commented on #117
Thanks @EvgeniyHablak for reporting this. I have fixed the inconsistency in the `develop` branch.

Can you help me understand what's going on with the second part of your question?

[2019-11-28 10:17] sandervanhooft commented on #117
ah found it

[2019-11-28 10:22] sandervanhooft commented on #117
Dropped the 'temp_' prefix in the controller:

https://github.com/laravel/cashier-mollie/pull/113/commits/dda412f0ad1e0a6672730ad2358c3e2dff2725e9

[2019-11-28 10:24] #114 closed

[2019-11-28 10:26] sandervanhooft commented on #115
Hi,

I'm trying to understand your use case... Do you mean the subscription should stop at a preset date?

So the 3 months subscription would result in 3 monthly invoices and then be completed?

If that's the case, that's not supported. Not yet anyway. I have been thinking about adding a `times` attribute to the Plan, but this will not be anytime soon.

[2019-11-28 10:27] sandervanhooft commented on #115
Alternatively, you could run a check that cancels "completed" subscriptions prior to processing them with `cashier:run`.

[2019-11-28 11:07] jamie2323 opened #118 "Question about billing cycle"
Hi,

Great package love it!

Quick question, I would like to bill a fixed amount every x of the month. The amount is
**always** the same even if the user has subscribed for example 10 days ago.

I already saw I can change the `nextPaymentAt` but how do I modify the `cycle_started_at` to be in the future?

Right now I have this:

[code]

Is it possible with this package?

Thanks for your work!

[2019-11-28 11:07] sandervanhooft opened #119 "⚡ Spark Mollie is coming"
Hi everyone!

Thanks for all of your enthusiasm for this Cashier package.

As announced at Laracon.EU Amsterdam, I'm working on a Laravel Spark integration for Mollie as well. It will be a first class, official part of Laravel Spark.

Getting Spark to work with Mollie was not as simple as replacing the Stripe Cashier package with Mollie's. I wish it was that simple. I had to make changes to Spark

[2019-11-28 11:12] sandervanhooft commented on #118
Thanks @jamie2323 !

What you're looking for is called "anchoring the billing cycle".

It's not supported yet, see #66.

I'll be keeping that ticket as a reference and close this for now. Let me know if it should be reopened.

[2019-11-28 11:12] #118 closed

[2019-11-28 11:39] manufyco commented on #115
Yes correct, the subscription should stop at a certain date.
The `times` option should be a good fit, I already tried to add it to the cashier_plan.php like described in the mollie manual (https://docs.mollie.com/payments/recurring#payments-recurring-charging-periodically). I soon discovered that it is not supported yet.
Will this be in the next couple of months?

Can you maybe describe the altern

[2019-11-28 11:47] sandervanhooft commented on #115
Cashier Mollie is **not** using Mollie's subscription API, because it's too limited in its functionality for this.

I can't tell if/when `times` will be available on the Plan at this point. I'm not sure about the impact yet. Also, preparations for Spark (#119) is consuming a lot of my time.

The alternative would involve checking how many processed OrderItems exist for the Subscription before runn

[2019-11-28 12:05] #110 closed

[2019-11-28 12:13] EvgeniyHablak commented on #117
We are almost there BUT
now my mollie_payment_status is not update to 'paid'
I've tried to debug it but unsuccessful

[2019-11-28 14:19] sandervanhooft commented on #117
Could you check:
- the Mollie dashboard for the response they're getting when calling your webhookUrl?
- your logs for any errors?

[2019-12-02 11:40] marcelmerkx opened #120 "Lumen support?"
Hi there - question:

will cashier-mollie support Lumen?

thanks!!

[2019-12-02 12:38] sandervanhooft commented on #120
I haven't tested cashier-mollie against Lumen. But I don't see any reason why it wouldn't be compatible.

[2019-12-02 12:38] #120 closed

[2019-12-02 12:46] marcelmerkx commented on #120
dankjewel Sander, we will make a clean Lumen project and give it a try. It did not play nice with our lumen project.
mvrgr

[2019-12-02 14:35] EvgeniyHablak commented on #117
I've tried to debug library a little bit.
when the lib version was 1.6 mollie made 2 requests and thats because our first response was with status code 500 (because we've tried to get mollie_payment_id from empty order object).
after your fixes we are able to find order record in the database by temp payment id BUT
I've Log that object we have found and it doesn't look like the order in my db.
But

[2019-12-02 15:07] marcelmerkx commented on #120
Sander,

clean lumen 6.0, then running a "php artisan cashier:install" , does not work rightaway.

After resolving some more initial errors, we get 'stuck' on
<Call to undefined method Laravel\Lumen\Routing\Router::namespace()>
from webhooks.php. As namespace() is not supported in Lumen, we would need to edit vendor code. Sure that can be fixed but then a next issue arises....

I am guessing you w

[2019-12-02 15:10] sandervanhooft commented on #120
Lumen support is not on the roadmap.

[2019-12-02 15:12] sandervanhooft commented on #117
Mollie's webhook call is crazy fast. It's probably a concurrency issue. We'll have to look into it.

[2019-12-02 15:17] marcelmerkx commented on #120
gottit. thanks

[2019-12-03 10:03] sigmoidal commented on #103
Well, thanks for trying to help. Unfortunately there seems to be a problem with first payments.
No matter what I try, the mandate is not written in the database even if when the first payment is completed and appears to be fine.

If I query the mandates directly through the mollie API for the user, a mandate is there.
Am I supposed to manually use the first payment handler and store the mandate it

[2019-12-03 11:45] sandervanhooft commented on #103
@sigmoidal Can you try making `mollie_mandate_id` fillable on your billable model?

[2019-12-03 12:04] sandervanhooft commented on #117
What cashier-mollie version are you at?

[2019-12-03 14:27] EvgeniyHablak commented on #117
The debugging above is on version 1.6
And i'm currently on version 1.6 (because at least second webhook from mollie works fine)

[2019-12-03 14:37] sandervanhooft commented on #117
Can you give `1.7` a try?

[2019-12-04 11:17] sigmoidal commented on #103
It is set as fillable, same behavior, mollie_mandate_id is null even after I set the first payment as PAID.

I noticed the user's mollie_mandate_id is set in FirstPayment::execute() using the payment's mandateId, but this function is never triggered. Do I have to call it manually? What triggers it and when?

Any help is greatly appreciated.

[2019-12-04 13:07] sandervanhooft commented on #103
[It's triggered when Mollie calls the webhook.](https://github.com/laravel/cashier-mollie/blob/62aa89f4f27fd78fbb255ebbf12a597b31812627/src/Http/Controllers/FirstPaymentWebhookController.php#L19:L34)

[2019-12-04 15:45] EvgeniyHablak commented on #117
I have just checked it.
I received one webhook from mollie and my response code was 200 BUT
in my db molllie_payment_status is open

Also interesting thing is that i've tried to log the order in webhook
Here is what ive got
<img width="842" alt="Screen Shot 2019-12-04 at 17 43 54" src="https://user-images.githubusercontent.com/22071381/70157121-ab7dcd80-16bd-11ea-8388-e5b2f1aba6d1.png">
<img width

[2019-12-04 15:49] EvgeniyHablak commented on #117
Maybe i'm testing incorrectly
This is how my flow looks like:
1. changing the date `order_items.process_at` from (for example) `2020-12-12`  to `2019-12-12`
2. running `php artisan cashier:run`
3. received the webhook and process the request somehow

[2019-12-04 15:54] sandervanhooft commented on #117
Hi @EvgeniyHablak,

1. It seems the `$order` is resolved just fine?
2. In test mode, Mollie does not update payment status for mandated payments. You however can update it manually using your browser. There's a `_link` embedded on the payment specifically for this reason. I usually grab it using `mollie()->payments()->get("the_payment_oid")->_links;`

[2019-12-05 08:54] EvgeniyHablak commented on #117
Hi @sandervanhooft ! Thanks! I'll check it out asap

[2019-12-09 07:10] sigmoidal commented on #103
Ok, this was a mistake from me. The problem was that I had reimplemented the Subscription and thus the logic was messed up. Switching back to the original implementation of Subscription works as expected.

thanks for your help.

[2019-12-09 07:34] sigmoidal opened #122 "implementing free plan functionality"
What's the best way to have a free plan included alongside paid-for plans?

I tried:

a) Having two paid-for plans in cashier_plans.php and only if the user selected one of those I would switch the user from the independent, self-managed free "plan" to those managed by the package and eventually mollie. The issue with this approach was that when the user subscribed to a paid subscription and paid

[2019-12-09 09:41] sandervanhooft commented on #117
Closing this for now, let me know if it should be reopened @EvgeniyHablak .

[2019-12-09 09:43] sandervanhooft commented on #122
You should go with option a).

Did you use `$subscription->cancel()`? If so, the subscription will be active until the end of the current billing cycle (what was paid for). So that's by design.

[2019-12-09 09:47] sandervanhooft commented on #122
Alternatively, using `$subscription->cancelAt(now())` will reimburse for the time left on the subscription.

[2019-12-09 14:10] sandervanhooft opened #123 "Add nl2br to invoice template (notes)"

[2019-12-09 14:21] sigmoidal commented on #122
Thanks for your response.

I tried `cancel()` and it behaves as you designed it, it correctly goes into the grace period, although that implies the current subscription is not really cancelled. It is the renewal for the next cycle that is cancelled. I have not found a way to obtain the amount I would owe to the user if I was to refund the remaining of the current cycle.

Indeed, I also tried `canc

[2019-12-09 15:49] sandervanhooft commented on #122
Ok, so the customer has paid for the subscription but decides he wants out immediately, right? Usually he then cancels the subscription. Then sees that it is canceled, but he is getting what he paid for: the rest of the current billing cycle.

In some cases customers like these reach out to support, asking for 1) a refund and 2) canceling the subscription immediately.

1) refunds are not supported

[2019-12-09 15:55] pascallieverse opened #124 "Dompdf failed to open stream for font"
When generating the invoice as a pdf with $invoice->pdf() it throws the following error:
`fopen(/var/www/html/vendor/dompdf/dompdf/lib/fonts/0f1d90ee1e41fa500b5bdd010be93c25.ufm): failed to open stream: Permission denied`

I haven't modified the style of the invoice and the code worked before fine. I searched for some solutions and all I could find was to create a font folder inside the storage bu

[2019-12-09 15:57] sigmoidal commented on #122
The problem is not the refund logic (this scenario above is just one use case, which I mention so you know the context).

Lets say that a user cancels the subscription at any point during the cycle, not just immediately. I was hopding `$user->credit()` returns me the amount I would have to pay the user if I wanted to refund him, calculated proportionally to the amount of time left in the cycle. Cu

[2019-12-09 16:00] sandervanhooft commented on #122
Hi @sigmoidal,

Thanks for the ❤️ , really appreciated. And always good to learn about real life use cases :).

Perhaps this is helpful to you?

https://github.com/laravel/cashier-mollie/blob/899d661ea1d730fd1f15a5551cc27ddb1b338901/src/Subscription.php#L148:L187

[2019-12-09 16:02] sandervanhooft commented on #122
So you could use

[code]

[2019-12-09 16:04] sigmoidal commented on #122
that's really helpful, thanks for pointing me at it!!

[2019-12-09 16:07] sandervanhooft commented on #124
Hi @pascallieverse,

Seems to be a permission issue / issue with DomPdf, not an issue with Cashier.

I'd recommend checking the permission settings (chmod etc.). If the permissions seem ok contact dompdf support.

[2019-12-09 16:07] #124 closed

[2019-12-09 16:07] sandervanhooft commented on #122
No problem. Enjoy! 🎉

[2019-12-09 16:07] #122 closed

[2019-12-09 18:34] paligiannis opened #125 "Can't integrate with Laravel 5.8 - No API key provided"
I am already a customer in Mollie and Mollie API is working fine with my application in production.
I installed Mollie cashier for subscription plans.

I have this piece of code.
`$user = \App\User::find(9);
        $result = $user->newSubscription('main', 'example-1')->create();
        dd($result);`

I have followed all the steps for installation:
Packages:
- "laravel/framework": "5.8.*",
- "lar

[2019-12-09 18:39] RobertBoes commented on #125
laravel-cashier-mollie is a replacement for laravel/cashier. The error is caused by cashier, which is built with Stripe. You should remove the laravel/cashier requirement and then the error should be gone :)

[2019-12-09 18:52] paligiannis commented on #125
Thank you very much. Now error 422 but I'l inspect it on my own. Thanks a lot :)

[2019-12-09 18:52] #125 closed

[2019-12-10 08:35] pascallieverse commented on #124
Was indeed a problem with DomPdf and permissions on a vendor file, strange because the build process wassnt changed and it worked before.. Thanks.

[2019-12-10 09:04] sandervanhooft commented on #124
Happy it worked out, enjoy!

[2019-12-10 18:42] sandervanhooft opened #126 "Prevent duplicate Orders when processing FirstPayment"
When for whatever reason the webhook for the first payment is called multiple times, each time a new Order will be created and all actions will be executed.

[2019-12-11 15:39] mirkin1993 opened #128 "Empty number is invalid"
I have the following code:
[code]
It gives me the following exception: "Empty number is invalid", what does this exception mean?

[2019-12-11 15:59] sandervanhooft commented on #128
It's probably thrown by Money Php because the plan amount is empty, it's not thrown by Cashier itself.

[2019-12-11 22:01] sandervanhooft commented on #128
Closing this for now, let me know if it should be reopened.

[2019-12-11 22:01] #128 closed

[2019-12-11 22:02] sandervanhooft commented on #123
Fixed in latest release.

[2019-12-11 22:02] #123 closed

[2019-12-17 14:38] cvgeldern opened #129 "How to use setApiKey()"
In my application I use multiple Mollie accounts for multiple purposes. With the bare mollie-api-php package I've the opportunity to set the api key dynamically with
`$mollie->setApiKey("test_dHar4XY7LxsDOtmnkVtjNVWXLSlXsM");`
See the mollie-api-php readme.

Currently my code is as provided by the cashier-mollie readme

        if (!$user->subscribed($name, $plan)) {

            $result = $user->

[2019-12-18 09:15] sandervanhooft commented on #129
Cashier Mollie (especially the scheduler) does not support this.

[2019-12-18 09:15] #129 closed

[2019-12-18 12:16] sandervanhooft opened #130 "Add Subscription::cancelNow()"
For Spark compatibility.

[2019-12-18 12:18] sandervanhooft commented on #130
Also mentioned in #122.

[2019-12-18 22:12] sandervanhooft commented on #129
But if you really need it for some very special case, you could call it as `mollie->setApiKey(...);`.

⚠️ It is strongly advised to only use this if you know what you are doing and are fully aware of the effects on Cashier.

[2019-12-19 10:47] cvgeldern commented on #129
I tried that, I get the error the method doesn't exist.

Some effects are already taken care of. But I'm still looking into the most challenging one, letting Cashier set the api key on every recurring payment. The models are in place, but I'm scanning through the code to see where to customize the appropriate classes.

Thanks for your reply. If I find/create a solid solution, I'll share.

[2019-12-19 14:31] pperzyna opened #131 "Support for Laravel 6"
Take a look
[code]

[2019-12-20 11:23] EvgeniyHablak opened #132 "Question regarding subscription without Mandate Up Front"
So our main idea is to give some certain users a subscription plan for customizable period of time for free (not to oblige them to specify the credit card details).

The first idea was to create a subscription record in `subscriptions` table to with custom `trial_ends_at` and chosen plan. The question is won't it break something (e.g. cashier:run command)?

Thanks in advance!

[2019-12-20 14:11] sandervanhooft commented on #132
Cashier Mollie support this using _generic trials_.

[2019-12-20 14:11] #132 closed

[2019-12-22 14:07] pperzyna commented on #131
@sandervanhooft same :(

the problem is related to `mollie/mollie-api-php` . Shoud i put it as a bug also there?

[2019-12-22 16:20] pperzyna commented on #131
i switched to latest version

[2019-12-22 16:20] #131 closed

[2019-12-23 07:31] sandervanhooft commented on #130
Done

[2019-12-23 07:31] #130 closed

[2019-12-24 09:58] Bojan121 opened #133 "Handle coupons from database instead of config file?"
Is there currently a way to change the coupon handling to read from database instead of the config file?

[2019-12-24 11:40] RobertBoes commented on #133
See #69, but instead of PlanRepository you'd create and rebind your own CouponRepository. I'll create a PR soon to update the docs for a better explanation

[2020-01-14 09:46] justkidding96 opened #136 "Subscription not created after successful payment"
Hi,

After I redirected to the checkout of Mollie in test mode. I selected that the payment was successfully, but the subscription or order are not created. What I'm doing wrong?

[2020-01-14 12:41] sandervanhooft commented on #136
Hi @justkidding96 ,

Can you check in the Mollie dashboard that your webhookUrl can be reached? You can find this on the payment details, in the right pane.

If the webhook cannot be reached, consider using `valet share` or `ngrok` and configure your app url in `.env` accordingly.

[2020-01-14 14:09] justkidding96 commented on #136
Hi @sandervanhooft

I'm working on local environment but also tested on public domain. Both are not working. Also is the webhook call not only a update. Does Cashier something with the webhook?

[2020-01-14 14:11] sandervanhooft commented on #136
Can you elaborate? What does the Mollie dashboard show about the webhook calls?

[2020-01-14 14:29] justkidding96 commented on #136
Hi @sandervanhooft

Inside the Mollie dashboad I get the message that the webhook has returned a 500 error. This is correct because the webhook url is on non public domain. But the problem is that the application doesn't create a subscription or order before I redirect the user to the payment screen.

For what I known is that the webhook is just to check if the payment is paid or not. Does Cashier

[2020-01-14 15:17] sandervanhooft commented on #136
Ah that clears it up. This is correct behaviour. Cashier uses the webhook call to retrieve the payment and execute the actions in its metadata. As you can see in the dashboard, the metadata includes the action to create the subscription.

[2020-01-15 09:56] sandervanhooft commented on #136
Just reread this thread: error 500 signals an error somewhere in your app. Can you check your logs?

[2020-01-15 09:59] sandervanhooft commented on #136
Your webhook being unreachable would result in a 404 in Mollie’s dashboard.

[2020-01-15 10:49] justkidding96 commented on #136
@sandervanhooft I resolved the issue already. After you said that Cashier depends on the webhook I faked the Mollie webhook request with Postman and everything was working.

But I think that the documentation needs some clarification about this. It was not clear for me how the system is working. After some digging in the package I just found out how...

[2020-01-15 11:29] sandervanhooft commented on #136
Thanks for following up. No problem, enjoy!

[2020-01-15 11:29] #136 closed

[2020-01-21 15:40] Rainieren opened #137 "Change redirect URL on mollie payment page"
Currently when a payment is made the user redirects to https://localhost. This can also be seen here
<img width="1175" alt="Screenshot 2020-01-21 at 16 37 02" src="https://user-images.githubusercontent.com/17454042/72818751-492c5c80-3c6c-11ea-8640-082e5fe76b9e.png">

Is there a way to customize this URL? I don't know how to redirect the user to a payment confirmation page? I tried adding `'redirec

[2020-01-21 15:42] robindirksen1 commented on #137
How do you access the webpage/application. Is this via localhost or the ngrok url?

[2020-01-21 15:44] Rainieren commented on #137
@robindirksen1 I use Valet and did `valet share` and used the ngrok url to navigate and make payment etc.

[2020-01-21 15:46] robindirksen1 commented on #137
What is your `APP_URL` in .env?

[2020-01-22 09:07] mazraara opened #138 "is Multicurrency enabled ?"
I am trying to use USD as a payment currency, however i am getting the following error.

No suitable payment methods found. Documentation: https://docs.mollie.com/guides/handling-errors

By default this package is supporting only EUR or Multicurrency ?

when set to use EUR, it throws

All actions must be in the same currency {"userId":1,"exception":"[object] (Laravel\\Cashier\\Exceptions\\Currency

[2020-01-22 10:35] sandervanhooft commented on #138
It supports multicurrency, but accepting USD also requires these methods to be enabled on your account.

[2020-01-22 10:38] sandervanhooft commented on #138
This seems to be two separate issues.

1. The Mollie exception. See my previous comment

2. What are you trying to do? Do you have some code to share?

[2020-01-23 10:47] Rainieren commented on #137
I would like to reopen this issue and ask the following question.
@robindirksen1 I looked at the `APP_URL` in the `.env` folder and indeed it said `http://localhost` I changed it to my current site URL and mollie redirects successfully to that url. But I want the user to be redirected to a url something like this `https://www.rainierlaan.test/payment-success` or something along those lines. I does

[2020-01-23 10:53] robindirksen1 commented on #137
You can configure what the redirect_url is in the configuration (see: https://github.com/laravel/cashier-mollie/blob/develop/config/cashier.php#L60) but that's also the url when the user didn't complete the payment.

If you redirect the user to a general page (for example: `/check-payment`) you'll have the controle to redirect them to the correct page (`payment-success` or `payment-failed`) based

[2020-01-23 11:16] Rainieren commented on #137
I see. Thank you this is what I was looking for!

[2020-01-23 11:16] #137 closed

[2020-01-24 15:06] mirkin1993 opened #139 "Overriding Order Number Generator"
I made my own OrderNumberGenrator like this:

[code]

In config/cashier.php I changed this line:
`'model' => \Laravel\Cashier\Order\OrderNumberGenerator::class,`
to:
`'model' => \App\Payments\OwnOrderNumberGenerator::class,`

But it wont work, the order numbers are the same as the OrderNumberGenerator from the package..

[2020-01-27 12:11] sandervanhooft commented on #139
Hi @mirkin1993,

Have you tried clearing the config cache?

[code]

[2020-01-27 12:13] #133 closed

[2020-01-27 12:40] mirkin1993 commented on #139
Yes I did, but it didn’t work..

[2020-01-28 11:17] sandervanhooft commented on #139
Thanks @mirkin1993 . I've just confirmed the issue. Working on a fix now.

[2020-01-28 11:26] #139 closed

[2020-01-29 10:54] Jimmylet opened #141 "What's the best way to make the app free when it launches in beta?"
Hello all,

I'm in the process of integrating Mollie into my future SaaS application.

First, I will launch my application in beta version. This beta version will be free.

Once I consider that my application is bug-free, tested and ready to be sold, I will switch it to a paid version.

Ideally, I would like to do all the payment and subscription logic now.

My question: how do I make the app free

[2020-01-29 15:51] sandervanhooft commented on #141
Hi @Jimmylet,

Good thinking.

There are essentially two way to deal with this with Cashier Mollie:

1. Generic trial. No payment / card required. Most user friendly way and a good way to get people to test functionality.

2. Small payment upfront to get a mandate, optionally add the payment to the user balance. This allows you to switch them to paid plans later on without needing them to go throu

[2020-01-29 16:08] Jimmylet commented on #141
Hello @sandervanhooft,

Thanks for your help! I think I will use "Generic trial". It's a good idea.

According to the doc, I have to fill in the column "trial_ends_at". If I add 365 days to registration, for example, will they have access to the full app for 365 days?

When I would like to switch the application to "paid" mode, I would only have to mass edit my SQL database to reset the "trial_end

[2020-01-29 16:14] sandervanhooft commented on #141
Exactly.

You could also set the default trial_ends_at value in the migration file to a date far far away (i.e. 10 years) for the same result.

Another way to end the trials would be to mass update the trial_ends_at to `now()`, forcing the users to switch to a paid subscription.

Anyway, I think you're on the right track now :). Will close this issue, let me know if it should be reopened.

[2020-01-29 16:14] #141 closed

[2020-01-31 09:13] mazraara opened #142 "Class 'NumberFormatter' not found"
Getting the following error
Class 'NumberFormatter' not found (View: /var/www/api.fusebox.local.dolphiq.eu/laravel/resources/views/vendor/cashier/receipt.blade.php)

Trying to download an invoice by calling return auth()->user()->downloadInvoice($orderId)

package using ->

"name": "laravel/cashier-mollie",
 "version": "v1.10.2",

[2020-01-31 09:25] Paulsky opened #143 "Other model then User"
Hello,

Is it possible to use another model then the User model? Something like this Cashier issue; https://github.com/laravel/cashier/issues/545

In that issue an example scenario is described like this;  A User can have multiple shops. These shops have different paid plans (no free plan). Like Bronze, Sliver, and Gold subscriptions.

So the User itself doesn't have subscriptions, but the shops h

[2020-01-31 09:35] sandervanhooft commented on #143
Yes,simply add the billable trait to the Shop model.

[2020-01-31 09:35] #143 closed

[2020-01-31 09:38] Paulsky commented on #143
Thank you🙏

[2020-01-31 09:41] sandervanhooft commented on #142
It means the php intl extension is missing.

https://stackoverflow.com/questions/30554177/fatal-error-class-numberformatter-not-found

[2020-02-01 16:23] bearcodeteeeps opened #144 "Cahier Mollie and Cashier Stripe"
Can I use both Cashier Mollie and Cashier Stripe at the same time?

[2020-02-01 17:48] sandervanhooft commented on #144
No, not in one app.

[2020-02-01 17:48] #144 closed

[2020-02-05 08:16] Paulsky opened #145 "Order table name"
Hello,

I already have an existing orders table. I would like to rename the Mollie Order tables to:
- mollie_orders
- mollie_order_items

But, can I set the table names for the corresponding models...?

Thank you in advance

[2020-02-05 08:35] sandervanhooft commented on #145
Hi @Paulsky ,

No, sorry, it’s not possible. Good idea though, I’ll put overriding the models on the roadmap. Would be a v2 feature, so will not solve your problem right now. Sorry for that.

[2020-02-05 08:35] #145 closed

[2020-02-05 08:38] Paulsky commented on #145
Thank you in advance @sandervanhooft ! I had to take a good look at my own table naming convention and I decided I can rename my own table. So that's a workaround for now.

[2020-02-05 10:34] #142 closed

[2020-02-05 10:34] sandervanhooft commented on #138
Closed due to inactivity

[2020-02-05 10:34] #138 closed

[2020-02-05 10:36] sandervanhooft opened #146 "Override models"
Like the OrderNumberGenerator, allow core models to be overridden.

#145

[2020-02-05 10:46] sandervanhooft opened #147 "Updating payment method/mandate"
Provide a convenient helper method for updating the payment method/mandate.

[2020-02-05 10:50] sandervanhooft opened #148 "Add refund feature"

[2020-02-05 16:20] Paulsky opened #149 "Lifetime subscription"
Hello,

I'm wondering which fields I need to set to create a 'lifetime' subscription. This is the scenario;
We have a couple of plans; bronze. silver and gold. These plans have an interval of one month. Users can subscribe to these plans. But, a Super Admin can subscribe a User to a Plan (without an actual payment. For example because of some sort of give away contest. ).

If I want to change the

[2020-02-05 16:54] sandervanhooft commented on #149
Hi @Paulsky,

Thanks for the ❤️ !

So I understand from your message that you'd like a subscription that:

- starts without a payment (free)
- will never result in a payment (free)
- has no enddate (lifetime)

I see a few ways to solve this:

**1. Simplest: generic trial**
If you're ok with it being marked as a trial, you could set a generic trial with an enddate far far away. The only drawback I

[2020-02-05 16:54] #149 closed

[2020-02-05 19:29] Paulsky commented on #149
Thank you very much for your quick and detailed reply  I really appreciate it.

Sorry, the described scenario didn't make things clear. I have a scenario which is more like a plan with features based subscription. One of the reasons I choose this package. This is the use case:

A User has multiple shops. A shop has a plan. This plan contains features. For example; the bronze plan has two features;

[2020-02-05 19:46] sandervanhooft commented on #149
Thanks for clearing that up.

The "free" part I misunderstood, but most of my comment stands. Domain wise, I still think it's an access management problem, not a subscription problem.

Pseudo code:

[code]

I do understand now that the one-off payment feature would help here. I plan on implementing this in March. (Finalizing & launching Spark first.)

[2020-02-06 07:44] Paulsky commented on #149
@sandervanhooft once again, thank you very much! I decided to go with option 1 (trial) as a temporarily workaround. And develop a solid solution when the one-off payment feature is available. Thank you!🙏🙏

[2020-02-06 10:35] sandervanhooft commented on #149
Good thinking. Enjoy!

[2020-02-06 11:13] Paulsky commented on #149
So how can I bypass the actual Mollie Payment and subscribe to a Plan? i tried the recommended steps in the 'Without Mandate Up Front' README section.

`$lifeTimeEndDate = now()->endOfDay()->addYears(100);
$shop->trial_ends_at = $lifeTimeDate;
$shop->save();
 $subscriptionBuilder = $shop->newSubscription('main', $plan->name())) ->trialUntil($lifeTimeDate)->create();
`

[2020-02-06 11:24] sandervanhooft commented on #149
https://github.com/laravel/cashier-mollie/blob/develop/README.md#without-mandate-up-front

The generic trial will end as soon as you start the subscription. This is causing your issue.

Thinking about it, if you wish to limit access to a specific product, go with mandate upfront (you can configure the first payment amount equal to the intended product amount) and set the trial to some eternal date

[2020-02-06 11:27] Paulsky commented on #149
Thank you for your response. So will the mandate upfront work if the first payment amount is zero? I want to manually set a plan subscription ('for free') for 'lifetime'.

[2020-02-06 11:35] sandervanhooft commented on #149
Free vs paid are entirely different use cases 🤷‍♂. Mandate upfront is always paid, unless you manually create a debit card mandate at Mollie and not charge it. But that would get hacky again.

The access control scenario would take max 30 mins to implement and goes a long way, I strongly advise to solve this (and future issues) that way.

[2020-02-06 11:37] sandervanhooft commented on #149
That way you would use Cashier what it’s meant for: subscription billing and subscription management. And have the flexibility of managing access to your services however you like.

[2020-02-06 11:58] Paulsky commented on #149
Alright, thank you! That's exactly how I see this package; a great way to manage subscription billing and subscription management. It has everything I need to implement the subscription flow for an User. But as an Admin point of view, I would like to **manage** User/Store subscriptions,  and attach/upgrade/downgrade plans, (re)set trail times and/or delete subscriptions. But, without having to pay

[2020-02-06 13:24] sandervanhooft commented on #149
No problem, enjoy!

[2020-02-07 14:30] mazraara opened #150 "Multiple transactions displayed for single payment"
I am using the below lines of code to make the first payment

        $result = $user->newSubscription('main', 'pro-yearly')->create();
        //If new user without mollie mandate then redirect to mollie
        if (is_a($result, RedirectToCheckoutResponse::class)) {
            $redirect = $result->payment()->getCheckoutUrl();
        }

In the order table and oder items tables i am having havin

[2020-02-07 14:33] mazraara opened #151 "Display plan name in the invoice"
Is there a way to get the plan name on the invoice object ? when subscription has changed plans from pro-user to pro-company, i want to list down transactions for both old plan and new plan. Could not find any clue about this on the document.

[2020-02-10 08:03] mazraara commented on #150
i am trying to get the invoices by calling auth()->user()->orders->invoices() it returns empty, but auth()->user()->orders works and returns multiple records

[2020-02-10 14:17] kyle51north commented on #99
@sandervanhooft

Is there any way we can achieve something like this right now? I'm working on a case where I want a User (the Billable Model) to be able to create multiple UserPlan models for itself. The UserPlan model can contain extra metadata.

I want to attach the Subscription to the UserPlan model after the subscription is created / checkout, however where can I pass the UserPlan id to the s

[2020-02-11 12:41] mazraara commented on #151
Thinking to add a new column to Order table as 'plan' to implement this use case as i cannot see any other way via this package

[2020-02-12 09:03] Paulsky opened #152 "Testing"
Could you please advice what's the best way to test this package? I would like to test for example swapping Subscriptions and redeeming Coupons. But therefore the owner should be already on a subscription.

Do you have an example to subscribe the owner to a new subscription with bypassing the Mollie checkout flow?

Thank you in advance!

[2020-02-12 09:41] sandervanhooft commented on #152
The tests folder includes a whole set which you can use as examples, a lot of these are integration tests. So tested against Mollie’s API. Easiest way is to obtain and store a mandate id and customer id on the billable model. This way the subscriptions etc will be generated without the need to go through checkout.

[2020-02-12 09:41] #152 closed

[2020-02-12 09:54] Paulsky commented on #152
Alright! Thank you very much! 🙏

[2020-02-12 21:49] zqstack opened #153 "How does automatic renewal work exactly?"
Dear Developers,

As I've looked through the code, and understand it correctly, it seems to me that the renewal time (_order_items_ -> _process_at_) is exactly the same as the expiration time (_subscriptions_ -> _cycle_ends_at_) of a subscription. Is this true?

And does this mean that I would need to run cashier:run every minute? And even if I would, would there be some time in between the expira

[2020-02-13 08:41] sandervanhooft commented on #153
1. True
2. No
3. No. The subscription is optimistic: the user is subscribed until cancelled/payment failed.

[2020-02-13 08:41] #153 closed

[2020-02-17 16:53] sandervanhooft commented on #151
Try changing the `cashier_plans` config description.

[2020-02-17 16:53] sandervanhooft commented on #150
#126

[2020-02-17 17:27] sandervanhooft commented on #150
This is another issue. Can you open a separate ticket?

[2020-02-19 11:20] Paulsky commented on #117
I don't want to hijack this issue, but I also have some issues with the default Webhook callback. The getOrder function returns always null (can't find by mollie_payment_id). Could it be that the Webhook is called before the Order actually exists in the database.....?

[2020-02-19 17:17] sandervanhooft commented on #117
@Paulsky what version are you using?

[2020-02-19 17:36] Paulsky commented on #117
I'm using v1.10.3

[2020-02-19 18:12] Paulsky commented on #117
Just to make things clear (maybe I'm doing something wrong):

I'm using the swap() function on an existing subscription. The webhook is called correctly, and the data in the Mollie dashboard looks also correct. When I manually check the database, the mollie_payments_status is 'open' and the 'mollie_payment_id' is filled. The Order before the swap, created with the newSubscription, is 'paid'. The g

[2020-02-19 19:51] zqstack opened #154 "Call to a member function orderItemPreprocessors() on null"
Dear Developers,

As I scheduled `cashier:run` I am finding these errors in my laravel.log file. Do you know why this is happening?

`[2020-02-19 10:05:02] local.ERROR: Call to a member function orderItemPreprocessors() on null {"exception":"[object] (Symfony\\Component\\Debug\\Exception\\FatalThrowableError(code: 0): Call to a member function orderItemPreprocessors()$`
`[stacktrace]`
`#0 /www.mys

[2020-02-19 19:58] zqstack commented on #154
Could it be because I changed the name of my plan and I still have references to the old (non-existing) plan name in my database?

[2020-02-19 20:58] sandervanhooft commented on #154
Yes that would cause this issue. Updating it in the database should fix this

[2020-02-19 20:58] #154 closed

[2020-02-20 08:45] Paulsky commented on #138
Hello @sandervanhooft , I'm receiving this error as well if I use USD in combination with coupons. All my coupons and plans are in USD. But when I debug the error on line 23 in ActionCollection, the ApplySubscriptionCouponToPayment getTotal() always returns 'EUR'. Did I mis a config setting somewhere?

[2020-02-20 08:50] Paulsky opened #155 "VariableDiscountHandler"
Does someone already written a VariableDiscountHandler? I mean, instead of coupons with fixed discount, coupons with percentages as discount.

Would you accept a PR if someone writes a VariableDiscountHandler @sandervanhooft ? I think this is a common use case. If someone uses coupons, the options will most of the time be there; fixed or variable discount.

[2020-02-20 10:30] sandervanhooft commented on #155
Sure! Don't forget to include tests. FYI I'm in [survival mode](https://twitter.com/SandervHooft/status/1229450802038788097?s=20) this week, hope to address most issues next week.

[2020-02-20 10:31] sandervanhooft commented on #99
Considering storing the relation elsewhere for now. Perhaps a pivot table?

[2020-02-20 10:33] sandervanhooft commented on #99
@kyle51north also, you can define an event listener to fire after the subscription is started.

[2020-02-20 10:39] Paulsky commented on #155
Thanks @sandervanhooft ! I wish you all the best with your housing unit!! 🙏

[2020-02-20 10:54] Paulsky commented on #138
FYI: I created a temporally fix with the following (I think I'm missing a config setting somewhere?):

`Cashier::useCurrency(env('MOLLIE_CURRENCY', 'USD'));`

Inside the boot() function in my AppServiceProvider.

[2020-02-20 16:06] Paulsky commented on #117
So I did a lot of debugging. The Order is found in the webhook function, if I remove the DB::transaction() wrapper in the Subscription restartCycleWithModifications() function.

This way, the handlePaymentPaid() is called in the webhook and the OrderPaymentPaid event is fired. So that's great (for sending a new invoice).

**But**, somehow, the order status is still 'open', even though  ` $this->up

[2020-02-20 19:45] zqstack opened #156 "What does cashier:run do exactly and how should I use it?"
Dear Developers,

How should I use `cashier:run`? When I run it multiple times from the command line before it should be processed and afterwards, it creates a new (not paid) order every time and increases the `cycle_started_at`.

Am I misunderstanding how it works? I thought I would be able to run `cashien:run` anytime and it wouldn't do anything whenthere were no processable items? I have added

[2020-02-20 20:19] zqstack commented on #156
Or does this happen because I am using test mode and all subscription payments are `open` except for the first one which is `paid`?

[2020-02-23 17:35] sandervanhooft commented on #156
I haven't seen this issue before.

1. Are you overriding the Carbon datetime in any way? Can there be another reason for abnormal  clock behaviour?
2. Did you do any customisations?
3. Can you share your `cashier` and `cashier_plans` config?

[2020-02-24 17:44] zqstack commented on #156
1. It might be because I've temporarily set the plan interval to 5 minutes?
2. I've added a migration to set owner_type's to nullable to prevent an error
3. Please find them, and the migration, attached

[cashier.php.txt](https://github.com/laravel/cashier-mollie/files/4245941/cashier.php.txt)
[cashier_plans.php.txt](https://github.com/laravel/cashier-mollie/files/4245942/cashier_plans.php.txt)
[2

[2020-02-25 08:10] larsjanssen6 opened #157 "Chargeback status"
Hi,

I was wondering how this package handles a chargeback. I can see here that when a payment status
is `paid` it set's the payment to paid.

However when a payment is a `chargeback` we still get the status `paid` from mollie. So in this case
it would go through that `handlePaymentPaid()` method again right?

https://github.com/laravel/cashier-mollie/blob/d2b85e9c1f44d502ee6160fe1c1985f97e4f53b9/

[2020-02-25 14:53] sandervanhooft commented on #157
Mollie has no separate status for `chargeback` (or refund) unfortunately. There have been some discussions about that with Mollie's dev team but the issue remains unresolved for now.

I'm thinking about a solution for detecting state changes, may become a separate package. Would require a database modification ,so `v2`.

[2020-02-25 14:58] sandervanhooft commented on #156
Can you elaborate on this? I suspect this is breaking cashier:run in your case, because the morphMany requires the `owner_type` to resolve and update the items.

[2020-02-25 14:59] sandervanhooft commented on #151
I'm closing this due to inactivity. Let me know if you feel it should be reopened (with some more details).

[2020-02-25 14:59] #151 closed

[2020-02-25 21:03] zqstack commented on #156
I don't recall why I did that, but unfortunately I've received some errors while setting up and this way I resolved the error. However, in my database, all data in all owner_type fields are currently filled with "App\User", so NULL values are actually not used.

Do you have an idea perhaps?

Thank you for your time!

[2020-02-26 07:36] larsjanssen6 commented on #157
@sandervanhooft I think they should change that it's weird when a payment is `charged back` the status is still `paid`.

[2020-02-26 10:39] sandervanhooft commented on #157
Not going to happen. Semantically they are not wrong, a charged back payment is still paid for, so paid is an end-state here.

One of the possible solutions that were discussed is introducing events or an events API. This would be a big thing so if Mollie decides to go that way it would take a long time.

For now/cashier-mollie: I'm looking into handling chargebacks and refunds.

For a refund: the

[2020-02-26 10:40] sandervanhooft commented on #157
FYI [Mollie docs: status changes](https://docs.mollie.com/payments/status-changes)

[2020-02-26 11:02] larsjanssen6 commented on #157
@sandervanhooft thanks that makes sense 👍

[2020-02-26 11:30] sandervanhooft commented on #156
@zqstack I've just tested the `5 mins` interval and can confirm this is causing the issue.

In real life, I don't expect this to cause issues, but this may be the cause:

https://github.com/laravel/cashier-mollie/blob/ed8bfa74b3a9c63f8e06bc9b9cdf2e8bbdb3f714/src/Order/OrderItem.php#L41-L43

[2020-02-26 11:59] sandervanhooft commented on #156
Found it, fixing it.

[2020-02-26 12:19] #156 closed

[2020-02-26 12:20] sandervanhooft commented on #156
Merged, will be included in the upcoming release. Thanks for the detailed report @zqstack .

[2020-02-27 07:54] Pieterc2 opened #159 "Is is possible to add quantity to newSubscriptionViaMollieCheckout?"
Currently i have a subscription system in place. A customer can get a subscription then will be redirected to the payment screen. And as soon as the payment is succesful it will start the subscription etc. But currently im trying to figure out how to add quantity to the first payment. For example buying 10 for 100$/mo subscriptions at the same and for the first time instead of 1/ 10$m.
Does anyone

[2020-02-27 07:57] Pieterc2 commented on #159
Fixed it by doing this: $customer->newSubscriptionViaMollieCheckout($plan->name, $plan->slug)->quantity(3)->createUrl()

[2020-02-27 08:05] Pieterc2 commented on #159
Okay i fixed the quanitity part. If i go to the checkout the price increases. But in the database it still registers as 1 subscription
also when i get $event->order; in FirstPaymentPaid for example it is also 1 subscription with the price of 1 subscription.
also the order is price of 1 subscription
![image](https://user-images.githubusercontent.com/25752853/75423936-0c751480-5940-11ea-982d-1df3c12

[2020-02-27 08:13] sandervanhooft commented on #159
Hi @Pieterc2, can you dump the metada from the Mollie payment here? You can grab it at Mollie’s dashboard.

[2020-02-27 09:41] Pieterc2 commented on #159
{
  "owner": {
    "type": "App\\Customer",
    "id": 317
  },
  "actions": [
    {
      "handler": "Laravel\\Cashier\\FirstPayment\\Actions\\StartSubscription",
      "description": "Steppi Subscription",
      "subtotal": {
        "currency": "EUR",
        "value": "104.97"
      },
      "plan": "steppi",
      "name": "Steppi",
      "quantity": 3
    }
  ],
  "shippingAddress": {
    "deli

[2020-02-27 10:24] sandervanhooft commented on #159
Thanks. What version of cashier-mollie are you running?

[2020-02-27 10:31] Pieterc2 commented on #159
![image](https://user-images.githubusercontent.com/25752853/75436340-ae066100-5954-11ea-9140-9640a515f765.png)

[2020-02-27 10:53] sandervanhooft commented on #159
Thanks. I think I have found the cause.

[2020-02-27 11:05] sandervanhooft commented on #159
A fix is now merged in the `develop` branch. @Pieterc2 Can you confirm this solves the issue?

[2020-02-27 11:52] Pieterc2 commented on #159
Ok so i did a test order of 34.99 x 3 should be around 100 euro's of an order
![image](https://user-images.githubusercontent.com/25752853/75442426-bdd77280-595f-11ea-9129-
95030e529dd1.png)

Its 3x the amount of the order in the table orders it should be around 100
![image](https://user-images.githubusercontent.com/25752853/75442456-cf207f00-595f-11ea-987b-9cb479cda516.png)

While in the order_ite

[2020-02-27 12:58] sandervanhooft commented on #159
Ok, so to sum up:

- subscription record now has correct quantity
- The scheduled OrderItem (257) has the correct quantity and price.
- The first payment amount is correct.
- The processed OrderItem (258) has stored the correct quantity (3), but also has the quantity applied to the unit price (now 104.97, which is wrong).
- This results in the Order calculating a total of 3 x 104.97 = 314.91 . Thi

[2020-02-27 13:00] Pieterc2 commented on #159
Yes this is correct.

Do you also know the reason why it makes 2 entry's in the order table?
![image](https://user-images.githubusercontent.com/25752853/75447359-8077e280-5969-11ea-9913-63dc284859ff.png)
1 with no order_id and 1 with order_id. Just a quick question between :)

[2020-02-27 13:10] sandervanhooft commented on #159
Ok, working on a fix.

[2020-02-27 13:21] sandervanhooft commented on #159
It's now on `develop`, can you give it a whirl?

[2020-02-27 13:53] Pieterc2 commented on #159
Everything seems to be working now this is great!
![image](https://user-images.githubusercontent.com/25752853/75450808-c2a42280-596f-11ea-89a8-8392b80262ec.png)
![image](https://user-images.githubusercontent.com/25752853/75450836-cf287b00-596f-11ea-8f37-a4c58215cd97.png)
![image](https://user-images.githubusercontent.com/25752853/75450872-dfd8f100-596f-11ea-9ab8-1a255198dd4e.png)

One more quick q

[2020-02-27 14:02] sandervanhooft commented on #159
Great!

Modifications on running subscriptions like swapping and changing the quantity essentially apply the changes and reset the billing cycle. The amount overpaid (time left on old subscription settings) is reimbursed.

Check out the Subscription's `updateQuantity` and (especially) `restartCycleWithModifications` methods if you want to take a look under the hood.

[2020-02-27 14:02] #159 closed

[2020-02-28 10:39] Pieterc2 opened #162 "Pdf OrderInvoiceAvailable duplicates orders?"
So i've been working on getting customers to download invoices. When i acces $customers->orders->invoices(); It returns the invoice in an empty {}. So i just want to get the id from this but the pdf has to be download first to server storage i dont really know what to do so some advise would be great. I add the OrderInvoiceAvailable event with a listener that handles downloading the invoice from t

[2020-02-28 18:45] zqstack opened #163 "Should open payments renew subscriptions in test environment?"
Dear Developer,

In my orders table I have some orders with `payment_status` `open`, but the subscription is still renewed. Shouldn't it only be renewed when paid? I am still using Mollie Test Environment.

Please find a screenshot attached.
![open payments](https://user-images.githubusercontent.com/60988202/75577682-cb295580-5a62-11ea-8f87-536361dba345.jpg)

zqstack

[2020-02-28 22:21] sandervanhooft commented on #163
See our previous discussion: subscription renewal is optimistic. When renewing the billing cycle, a payment is triggered. Depending on the payment method, it can take up to 14 days to clear. That’s why cashier-mollie handles this optimistically.

In case of a failed payment, the subscription is canceled immediately.

[2020-02-28 22:21] #163 closed

[2020-02-29 15:24] zqstack commented on #163
Thank you for your reply. Does this mean that I have to wait 14 days in test environment to see whether the subscription payment has succeeded or failed? Or is my webhook not working correctly?

I hope that I'm not asking too many questions. I just want to make sure all payment confugration is set correctly before using it in production.

Sincerely,

zqstack

[2020-02-29 21:56] sandervanhooft commented on #163
No problem.

In testmode, mandated payments are not getting to “paid” automatically. You can fetch the payment using `mollie()->payments()->get(“tr_xxxxx”);`. It will contain a link to manually set the status using your browser.

[2020-03-02 01:58] mazraara commented on #46
@sandervanhooft does it support paypal now for recurring? is the roadmap of mollie available somewhere online to see? I am using this package on a production website for recurring payments and it works great except with Paypal and SEPA. Thanks much!

[2020-03-02 01:58] mazraara commented on #150
Sure, thanks!

[2020-03-02 01:58] #150 closed

[2020-03-02 02:01] mazraara opened #164 "Does this package support PayPal and SEPA for recurring payments?"
Unable to get it to work with PayPal and SEPA but other payment methods are working fine for recurring payments. Are there anything specifically need to be configured?

[2020-03-02 02:11] mazraara commented on #164
It seems Mollie allows recurring via PayPal https://help.mollie.com/hc/en-us/articles/214072169-Is-Recurring-via-PayPal-also-being-supported-

[2020-03-02 10:26] sandervanhooft commented on #164
PayPal requires some additional steps to get it activated for your Mollie account:

![D6CC26C7-0137-48F3-84FA-AE5B50AF2E5D](https://user-images.githubusercontent.com/7265703/75667826-8d9e1580-5c78-11ea-960c-9d66c2d46564.jpeg)

[2020-03-02 10:27] sandervanhooft commented on #164
What’s not working with SEPA/directdebit?

[2020-03-02 10:29] sandervanhooft commented on #164
Note that directdebit may take up to 14 days to clear (get to paid/failed)

[2020-03-04 08:17] Paulsky commented on #117
I know you are very busy @sandervanhooft , and I don't want to push you. But maybe you can re-open this issue...?

[2020-03-06 07:15] obrunsmann opened #165 "Laravel 7.x Upgrade"
As described please add support for Laravel 7.x

[2020-03-06 17:30] sandervanhooft commented on #165
It's on `develop` now. Ready for release after the weekend.

[2020-03-09 14:43] sandervanhooft commented on #165
Available on latest release.

[2020-03-09 14:43] #165 closed

[2020-03-09 14:43] sandervanhooft commented on #164
Closing this due to inactivity. Let me know if it should be reopened.

[2020-03-09 14:43] #164 closed

[2020-03-09 15:24] CodeAndWeb opened #167 "Testing"
First of all: Great work! I started to add the module to my current project and it really seems to do all the stuff I need!

I currently wonder how I could set up easy testing of my own modules (e.g. list of invoices, current plan status, enabled features,...)

What I am looking for is an easy way to create a paying user with a specific plan or configuration without contacting Mollie's API for eac

[2020-03-09 15:31] prestamodule commented on #164
@sandervanhooft it looks like SEPA/direct debit is not available on the payscreen, even if the method is enabled on the account.
Recurring API must be used

[2020-03-10 00:02] javoscript commented on #107
I recently made a little package which allows to add macros to Eloquent models:

https://github.com/javoscript/laravel-macroable-models

Let me know if you try it out and if it is of any use! =)

[2020-03-10 05:54] mazraara commented on #164
@sandervanhooft we have the same issue, its not available on the payment screen. @prestamodule How did you fix this ? can you share some reference ?

[2020-03-10 09:05] prestamodule commented on #164
@mazraara i guess this is now? a Mollie limitation :( see here
https://help.mollie.com/hc/en-us/articles/115000967505-How-do-I-apply-for-SEPA-Direct-Debit-via-Mollie-

[2020-03-10 10:17] sandervanhooft commented on #164
In most cases, `directdebit` is the resulting mandate from payment methods like `ideal` or `bancontact`.

Direct use of `directdebit` has never been that common.

[2020-03-10 10:37] sandervanhooft commented on #167
Hi @CodeAndWeb, thanks!

You may find your answer here: https://github.com/laravel/cashier-mollie/issues/152 .

[2020-03-10 10:37] #167 closed

[2020-03-10 11:24] prestamodule commented on #164
@sandervanhooft Looks right. Do you think that there is a way to "adapt" this repo to handle call to Recurring API but keep Cashier features ? So SEPA could be handled

[2020-03-10 11:45] sandervanhooft commented on #164
Which endpoint do you mean by the recurring API?

[2020-03-10 11:49] prestamodule commented on #164
@sandervanhooft https://docs.mollie.com/payments/recurring#charging-periodically-with-subscriptions using `sequenceType` to `recurring`

[2020-03-10 12:23] sandervanhooft commented on #164
Then no, because that would negate all cashier features.

[2020-03-10 12:26] sandervanhooft commented on #164
Scratch that. This package is using `sequenceType=recurring`.

[2020-03-10 13:50] DiyanDev opened #169 "Payment status not updated after plan swap"
Using the swap or swapAndInvoice functions on an existing subscription seems to swap the customer plan and charge the difference, that's fine but the created order has a payment status of "open" even tho it shows as paid on the mollie dashboard. Here are some screenshots showing what I am trying to explain:

Local payment status: [https://prnt.sc/re851v](https://prnt.sc/re851v)
Mollie dashboard: [

[2020-03-11 12:14] tijsbakker opened #170 "CashierRun command throws exception"
`ErrorException

  Object of class Illuminate\Support\Collection could not be converted to int

  at vendor/laravel/framework/src/Illuminate/Console/Command.php:134
    130|      * @return int
    131|      */
    132|     protected function execute(InputInterface $input, OutputInterface $output)
    133|     {

    135|     }
    136|
    137|     /**
    138|      * Resolve the console command i

[2020-03-11 12:16] sandervanhooft commented on #170
Hi @tijsbakker, What Laravel version are you at?

[2020-03-11 12:19] tijsbakker commented on #170
hi Sander, Laravel 7 … the exception disappears when I return the $orders->count() in the CashierRun Command.

[2020-03-11 14:05] sandervanhooft commented on #170
Released a fix. Thanks for reporting

[2020-03-11 14:05] #170 closed

[2020-03-11 14:09] sandervanhooft commented on #169
Can you check this is still the case? The order payment status is updated using the webhook.

Regarding the PaymentPaid event, that's also triggered when the webhook controller processes the payment update.

[2020-03-11 15:59] rubenbuijs commented on #102
Had the same issue. Happened because I was trying to cancel a subscription that was in it's grace period.

[2020-03-11 19:38] DiyanDev commented on #169
Yes, it's still open there was no atempt to call the webhook since yesterday: [https://prnt.sc/rexjp7](https://prnt.sc/rexjp7)

[2020-03-11 20:06] sandervanhooft commented on #169
Is there anything in your log?

[2020-03-11 22:46] hadjedjvincent commented on #164
@sandervanhooft the issue is coming that you can't create the first payment using `directdebit` method (talking about SEPA case).
You first have to create a mandat, something like this works in test mode:

[code]

Then, associate this `mandat_id` to the current `Billable` user.

After that, you can make payments using `sequenceType=recurring` and `method=directdebit` or even by forcing `mandateId`

[2020-03-12 02:22] mazraara commented on #164
Sounds like a plan. @hadjedjvincent what do you mean you must manage IBAN input yourself ?

[2020-03-12 04:14] mazraara opened #172 "Does this package support Laravel 7?"
Planning to migrate from Laravel 6 to 7, so curious if this is supported by the package.

[2020-03-12 07:11] hadjedjvincent commented on #164
@mazraara Well, I did not find a way to implement a checkout page on Mollie side where we can input the IBAN and save the mandate. Did you ?

[2020-03-12 07:54] sandervanhooft commented on #164
You can manually generate a mandate for directdebit, without payment and without going through Mollie’s checkout. You would need to provide the iban input forms yourself.  Make sure to store the mollie mandate id and mollie customer id on the billable model.

[2020-03-12 07:54] sandervanhooft commented on #164
After that you can just start a new subscription, without going through a checkout.

[2020-03-12 07:57] sandervanhooft commented on #164
`$billable->mollieCustomerId();` will conveniently create and store the customer id if it is not set yet.

[2020-03-12 07:58] hadjedjvincent commented on #164
@sandervanhooft is this process compatible with Cashier for Mollie ? Because this is what I’m already doing.
I mean, I’m already creating the mandate and assigning it to the user.
But, when calling newSubscription() method it looks like the orders aren’t created on Cashier side that way ;/
They are only if you subscribe a new plan again with the same user (first payment issue ?)

[2020-03-12 08:02] sandervanhooft commented on #164
If there is an active subscription before you manually set the mandate, the order processing will use the new mandate on the next `cashier:run`.

If there’s no active subscription and you start a new one, the MandatedSubscriptionBuilder will be used, resulting in an unprocessed OrderItem. This will be processed on the next `cashier:run`.

[2020-03-12 08:04] sandervanhooft commented on #164
So it’s correct that no Order is created yet, only the not yet processed OrderItem.

[2020-03-12 08:06] hadjedjvincent commented on #164
@sandervanhooft Okay, I will check that this morning and get back to you, thank you

[2020-03-12 12:13] DiyanDev commented on #169
Thank you for your response.
I know this isn't helping but unfortunately I don't see anything wrong in the logs.
I managed to replicate the issue on a staging server and nothing changed. (Previously I was using ssh tunnel (ngrok) in a local environment).

**Here are the webhook requests I received.**

After creation of new subscription: [https://prnt.sc/rf8jmy](https://prnt.sc/rf8jmy)
After swappi

[2020-03-12 13:21] DiyanDev commented on #172
@mazraara [Release v1.11.1](https://github.com/laravel/cashier-mollie/releases/tag/v1.11.1) added support for Laravel 7.

[2020-03-12 15:16] #172 closed

[2020-03-12 20:51] CodeAndWeb opened #173 "Metered billing?"
How exactly should metered billing work?

I am writing a processor as you suggested but some things are quite strange. In my test I do the following:

subscribeToPlanAndProcessPayment() is a function that triggers a subscription

        Carbon::setTestNow('2020-04-01');
        $user->newSubscription('default', 'growth-v1')->create();
        ...simulate payment and mollie callback....
        Ca

[2020-03-13 09:58] CodeAndWeb commented on #173
More questions....

4. Why am I not receiving the processor callback for the prorated / partially refunded first order?

[invoice1.pdf](https://github.com/laravel/cashier-mollie/files/4328870/invoice1.pdf)
[invoice2.pdf](https://github.com/laravel/cashier-mollie/files/4328871/invoice2.pdf)

[2020-03-13 16:07] hadjedjvincent commented on #164
@sandervanhooft started from scratch again

1. Create the mandate and assign both mollie_customer_id and mollie_mandate_id column
2. Make a new subscription using $user->newSubscription('main', 'plan1')->create();
3. a Laravel\Cashier\Subscription instance is returned.
4. I've now one entry into subscriptions table & one into order_items.
5. ➜ php artisan cashier:run
Created 1 orders.

So, i was m

[2020-03-14 13:10] driesvints commented on #42
`charge`: single charge without an invoice
`tab` add a line to the upcoming invoice
`invoice` create a new one-off invoice
`invoiceFor` create a new one-off invoice with the specified amount

[2020-03-14 13:16] sandervanhooft commented on #42
Thanks @driesvints !

[2020-03-17 10:28] sandervanhooft commented on #119
Quick update: we're aiming for a public release in April.

[2020-03-19 09:32] Paulsky commented on #169
@DiyanDev I think I have the same issue. Could you please check my comment here: https://github.com/laravel/cashier-mollie/issues/117#issuecomment-589156848 ?

[2020-03-19 18:29] sandervanhooft commented on #117
I have been thinking about this...

The transaction is there for a reason. It's good to disable it to understand the problem, but I think we should keep it there.

As I've discussed [here](https://github.com/mollie/laravel-mollie/issues/119#issuecomment-601341584), there are essentially two alternatives we can try:

1. when the webhook is called, return a 404 if the payment is not found. Mollie wi

[2020-03-20 07:57] Paulsky commented on #117
Hmm, I'm not sure. I'm also leaning towards option 1.

But, the problem I have is that I don't understand the reason why this is happening. Why is the Order not found (while it really seems to exists in the db)? Maybe if I understand the reason, I can  give a better suggestion. Do you know what the problem is and could you explain it to me?

Thank you @sandervanhooft 🙏

[2020-03-20 08:04] sandervanhooft commented on #117
It's a race condition issue.

Mollie's webhook call is so crazy fast it calls the webhook before the transaction is finished (meaning the Order is not stored yet). This all happens in a fraction of a second. So to the human eye it seems like the Order already is in the database table. But in fact, it's not stored yet.

[2020-03-20 08:11] Paulsky commented on #117
Alright, incredible! If that's the case and if the DB::transaction wrapper can't be removed (I don't know if this is even the problem) I also recommend option 1; return a 404 because the Order really does not exists right? It feels less hacky and a lighter solution (instead of forcing users to use queues right?)

[2020-03-20 08:11] sandervanhooft commented on #117
Exactly @Paulsky , thanks!

[2020-03-20 08:23] sandervanhooft commented on #117
@Paulsky is this is issue occurring in test or live mode?

[2020-03-20 08:29] Paulsky commented on #117
This occurs in test mode. But live I'm not sure, because I just saw I have some 'paid' 'mollie_payment_status' in the database.

[2020-03-20 08:50] sandervanhooft commented on #117
Ok, any of them not marked as `paid` that should be?

[2020-03-20 08:51] Paulsky commented on #117
No, it looks correct at live!

[2020-03-25 12:18] tobischulz opened #175 "Payment Method of subscription"
Is there any way to show the customer his currently used payment method on his active subscription?

If not, do i have to implement a "payment method" page on checkout to save the selected payment method for this customer to show it on his subscription overview?

Thanks

[2020-03-25 12:24] sandervanhooft commented on #175
Hi,

You can use: `$user->mollieMandate()->method;`.

It's stored on the billable/user level, not on subscription level.

[2020-03-25 12:24] #175 closed

[2020-03-25 13:38] tobischulz commented on #175
Thank you 😊

[2020-03-25 14:53] sandervanhooft commented on #175
No problem, enjoy!

[2020-03-26 09:02] SamAriafar opened #176 "Cannot read session on taxPercentage"
To be able to set VAT percentage per each customer, depend on what country they are from, I needed to manipulate taxPercentage on my billable model, but the issue is that after the payment is made, this function is not able to read sessions, however before that everything looks working just fine, because the price includes the additional VAT.

[2020-03-27 10:02] SamAriafar commented on #176
I've resolved my own issue by putting a check on session existence on callback and it worked just fine.

[2020-03-27 10:02] #176 closed

[2020-03-27 11:00] nicobleiler opened #177 "How can i add an addOn to the firstpayment"
I tried using a preprocessor but they do not seem to trigger on firstpayment, is there an easy solution without customizing too much of cashier?

[2020-03-27 12:37] sandervanhooft commented on #176
Thanks for following up, glad to hear it worked out!

[2020-03-27 12:40] sandervanhooft commented on #177
Hi,

That's correct, firing the preprocessor on the first payment is still on the roadmap.

You could try using the FirstPaymentBuilder manually. Take a look [here](https://github.com/laravel/cashier-mollie/tree/develop/tests/FirstPayment) for some examples on how this works.

Closing this for now, let me know if it should be reopened.

[2020-03-27 12:40] #177 closed

[2020-03-27 12:54] sandervanhooft commented on #173
1. It's not yet supported on the first payment. See #177 .
2. No. It will be set correctly once the payment has been processed and your webhook has been called. That happens before your customer is redirected back to your app from Mollie's checkout.
3. Usually "usage up to the moment the Order is processed`" does the trick, so there's no attributes available on the preprocessor to check what cycle

[2020-03-27 13:10] sandervanhooft commented on #169
Hi @DiyanDev ,

Are you in test mode? In test mode Mollie does not automatically update the payment status of mandated payments. You can set it manually in the browser using

[code]

More info [here](https://docs.mollie.com/guides/testing).

[The issue](https://github.com/laravel/cashier-mollie/issues/117#issuecomment-589156848) @paulsky is referring to is a race condition issue that only happens

[2020-03-27 13:16] sandervanhooft commented on #162
Hi @Pieterc2,

Have you tried `$order->invoice()` or `$billable->downloadInvoice($orderId)`?

The latter will allow your user to directly download the invoice as pdf.

[2020-03-27 13:28] DiyanDev commented on #169
Ow I see... That makes sense now, I am running in test mode indeed.
Thanks for the clarification.

[2020-03-27 13:29] #169 closed

[2020-03-27 13:41] sandervanhooft commented on #169
No problem, thanks for following up!

[2020-03-29 12:44] p0nt opened #178 "Works with SEPA?"
Not an issue, but a question.

I am not able to find this information on this project, neither in already closed issues on here.

Does this subscription module work with all mollie's subscription possibilities? Also SEPA?

[2020-03-29 12:55] sandervanhooft commented on #178
Hi @p0nt,

Yes! In fact SEPA support was the nr 1 reason I developed this package.

Note: Mollie references these payment methods as “direct debit”.

[2020-03-29 13:16] p0nt commented on #178
That’s great, thanks Sander for the quick response!

[2020-03-29 13:24] sandervanhooft commented on #178
No problem, enjoy!

[2020-03-30 08:04] tobischulz commented on #178
Hey,

is #164 still a thing? So on first payment mollie does not accept payment method "directdebit" on my first test. So do i have to follow the steps on the issue 164?

Thanks

[2020-03-30 16:21] sandervanhooft commented on #178
No you should be good to go.

[2020-03-30 16:22] sandervanhooft commented on #178
See [here](https://github.com/laravel/cashier-mollie/issues/164#issuecomment-598798227)

[2020-03-31 08:19] GertTimmerman commented on #155
@Paulsky Any progress on this? I need a percentage discount handler for myself, but I don't want to reinvent the wheel ;)

[2020-03-31 08:23] Paulsky commented on #155
@GertTimmerman I haven't started to work on this to be honest. But I'm still interested and willing to develop this. However, I don't know when I can start developing.... Do you have time and resources to work on this? Please let me know if you get started

[2020-03-31 08:31] GertTimmerman commented on #155
@Paulsky I am able to take a look at it, but I can't promise anything. I will let you know (in this thread) if I have made some progress.

[2020-03-31 08:33] Paulsky commented on #155
Alright! Let's keep each other posted. I will get in touch if I am able to start working on this. Maybe we can help each other out.

[2020-03-31 10:41] #178 closed

[2020-03-31 14:13] yamenarahman commented on #119
@sandervanhooft Great work man! I know this question is somehow out of scope, but are there any plans to also support Paddle? I'm willing to contribute to a Cashier-Paddle package.

[2020-03-31 14:18] sandervanhooft commented on #119
Thanks @yamenarahman ! I know Marcel Pociot has been talking about Cashier Paddle support. For me, it's out of scope.

And in full disclosure, I'm also getting paid by Mollie to build and maintain these Laravel integrations, so I'm not in a position to push Paddle here 😄.

[2020-03-31 22:39] HiroKws opened #181 "README is written by irregular markdown."
I know markdown don't have perfect convention. README display in GitHub, however it make trouble when convert HTML or something.

I think it came from nu-escape dot in ordered list items. Simply escape like `1\.`, `2\.`... , and everyone happy. documentaion.md of Laravel official document link to your README. Not native English readers like me, need to translate mother language. Please use common

[2020-04-01 14:40] sandervanhooft commented on #181
I'm not an expert on this, sorry. Feel free to submit a PR 😀

[2020-04-01 14:40] #181 closed

[2020-04-02 12:30] spooksie commented on #119
Awesome, cannot wait :)

[2020-04-03 08:19] jasperf opened #184 "Ecurring, Mollie and Cashier Mollie"
Building a SaaS here selling monthly and yearly subscriptions. Just got my Mollie account and working on Cashier Mollie now. then I bumped into https://docs.ecurring.com/ . A(nother) setup by Mollie that also does recurring payments or subscriptions.

Do I understand correctly that Cashier Mollie does a more regular Mollie subscriptions approach not using _Ecurring_?

Two, does Cashier Mollie use

[2020-04-03 09:10] hadjedjvincent commented on #147
A must have! It would be useful to handle retries for failed payment too

[2020-04-03 14:56] sandervanhooft commented on #184
Hi @jasperf ,

I get your confusion. Here's my 50cts:

- Mollie offers a basic subscription API (`/subscriptions` endpoint). It's for simple start/stop subscriptions. No invoice pdfs, no plan management, plan swaps, etc. .
- This package offers some advanced subscription logic similar to the cashier stripe edition. It leverages the Mollie API, specifically the `customers`, `payments` and `mandates

[2020-04-04 02:11] jasperf commented on #184
@sandervanhooft Thanks a lot for your feedback. Appreciate it a lot.

- We do not want to pay for Mollie and another service like eCurring if we can't help it. So we shall stick with Mollie.
- We love the way Cashier Mollie builds on Laravel Cashier and Laravel so we can do customer data, payment, mandates (recurring / direct debit permissions). And that Laravel native actions such as listening fo

[2020-04-04 08:28] sandervanhooft commented on #184
Moneybird perhaps?

[2020-04-04 08:48] jasperf commented on #184
@sandervanhooft Looking into Moneybird and their https://github.com/picqer/moneybird-php-client PHP Client by Picqer. Pretty well maintainted package and Moneybird is pretty moder and has a sandbox for testing of their REST API. Looking interesting. Thanks Sander!

[2020-04-04 08:48] #184 closed

[2020-04-04 08:54] sandervanhooft commented on #184
I’m really happy with Moneybird. There is no direct integration with Cashier Mollie, but setting it up for normal cashier payments shouldn’t be hard. Accounting for refunds and chargebacks can be a bit trickier though. Enjoy!

[2020-04-06 13:40] leonhh opened #185 "The payment method selected does not accept recurring payments"
I'm trying to create a subscription with ideal. With the test key everything worked as expected. But with a production key we are getting errors.

In the cashier.php config there is this:
[code]
When I set it to ideal I get the error message  `The payment method selected does not accept recurring payments`. When I set it to null it only gives me the option to pay with credit card. Meanwhile ideal

[2020-04-06 13:52] sandervanhooft commented on #185
Is this with a first payment (through checkout) or a subsequent payment?

[2020-04-06 13:55] leonhh commented on #185
This is with a first payment, i've just been reading through the Mollie help page.

Is it true that SEPA-incasso should also be enabled beside ideal in the Mollie dashboard for the ideal subscriptions to work? In that case, enabling SEPA-incasso will probably fix my problem.

[2020-04-06 14:05] sandervanhooft commented on #185
That’s what would make most sense to me right now.

[2020-04-06 14:06] leonhh commented on #185
Alright, we've requested SEPA-incasso. Might take 2 days for Mollie to enable it, will get back to you when it still doesn't work.

[2020-04-06 14:06] #185 closed

[2020-04-06 14:21] sandervanhooft commented on #185
Thanks! Also happy to know if it _does_ work, so I can help out others with the same issue.

[2020-04-07 12:09] alexander-rieder commented on #119
So when will it be there? I'm currently at the start of a new project and are interested in Laravel Spark Using Mollie (... and SEPA direct debit ;) )

[2020-04-07 12:25] sandervanhooft commented on #119
Hi everyone,

I've been in touch with @taylorotwell and he has a lot on his plate right now.

We are looking into the best way to provide you with a) Spark Mollie and b) durable support.

Meanwhile you can get access to the alpha (99% done) and start developing. This is how:

1. Ensure you have a valid license for the latest Spark (Aurelius) edition.
2. Star [laravel/spark-aurelius](https://github

[2020-04-08 08:48] pascallieverse opened #186 "Changing the invoice pricing format"
Currently the invoice shows the price of subscriptions like "209,00 €" using the Cashier::formatAmount. Is there a way to change the format to display it like "€ 209,00"?

[2020-04-08 10:05] sandervanhooft commented on #186
Hi @pascallieverse ,

You can set your own formatting callback using `formatCurrencyUsing`.

https://github.com/laravel/cashier-mollie/blob/5f5a8e326595659b6cc47f99c618fba1621a2587/src/Cashier.php#L169

[2020-04-08 10:05] #186 closed

[2020-04-08 21:17] mannieg commented on #119
@sandervanhooft can I get an invite please just starred the repo 😄

Thanks for the great work!

[2020-04-09 06:05] alexander-rieder commented on #69
@Jabirr could you also post your migration file? :)

[2020-04-09 09:19] Pieterc2 opened #187 "Error when running Schedule or cashier:run"
Okay so i was checking subscriptions earlier and found out that subscriptions weren't renewed. So i manually runned  cashier:run and this is what i get
![image](https://user-images.githubusercontent.com/25752853/78879204-dd2fe800-7a53-11ea-88a2-3ed03eb35e4f.png)

So im confused how this happend. Thats why im here asking if anybody experienced this aswell and maybe has a solution for it :)

[2020-04-09 09:28] sandervanhooft commented on #187
Is there anything that could have broken the relationship between the OrderItem and Billable models in your app? Think overrides, non-default migrations, etc..

[2020-04-09 10:41] nicobleiler opened #188 "Subscription Swap Error"
When i sawp the subscription
`$response = $subscription->swap($plan);`
i get the error:
`Error executing API call (422: Unprocessable Entity): The amount is higher than the maximum. Field: amount. Documentation: https://docs.mollie.com/guides/handling-errors`
But i have no problems if i book any of my plans initially, only when "upgrading" by swaping the plan.

[2020-04-09 11:38] sandervanhooft commented on #188
This means the plan you're swapping to probably has an amount that's not authorised on your account for this payment method.

It can also happen if another OrderItem is due for processing for this billable model, adding to the amount for the total Order amount.

[2020-04-09 12:04] Jabirr commented on #69
@alexander-rieder ofc,

` public function up()
    {
        Schema::create('plans', function (Blueprint $table) {
            $table->bigIncrements('id');
            $table->string('name');
            $table->text('description')->nullable();
            $table->string('interval')->default('monthly');
            $table->double('amount');
            $table->string('currency')->default('EUR');

[2020-04-09 13:24] lexdewilligen commented on #66
@sandervanhooft are you currently working on this feature? Or is anyone else working on this feature?

[2020-04-09 15:23] sandervanhooft commented on #66
It's not on the top of my list to be honest. Will launch Spark Mollie first. Feel free to create a PR.

[2020-04-09 21:07] lexdewilligen opened #189 "One invoice for multiple subscriptions with variable quantity"
Let me first explain what we’re trying to achieve. We’re currently creating a SaaS application offering management software in several modules. Organizations are free to choose whatever modules they’d like to use. Prices are calculated based on the amount of users which an organization has.

In short, there’s the following demands:

1. invoice (the day does not matter, may be a fixed date, may als

[2020-04-10 11:43] leonhh commented on #185
@sandervanhooft just wanted to get back to you on this issue. It seems like I was right, once SEPA Direct Debit was enabled it worked like a charm with ideal. It might also be good idea to mention in the docs that it is necessary to enable SEPA Direct Debit in order to use ideal, bancontact etc.

https://help.mollie.com/hc/en-us/articles/115000967505-How-do-I-apply-for-SEPA-Direct-Debit-via-Mollie

[2020-04-11 11:47] sandervanhooft commented on #189
Hi!

Have you tried setting the updateQuantity parameter `$invoiceNow` to false?

The seat prorating will then be invoiced the next time you execute `cashier:run` instead of directly.

[2020-04-14 23:26] mmachatschek commented on #41
I was looking into this a little more. Currently I don't see a good solution here because the new billing cycle is calculated with `->modify()` (as stated above) which basically can have any string that can be handled by the `DateTime::class` e.g. `->modify('+2 day first sunday'')`. This is a bad example but could be set as interval on integrations.

My suggestion would be to allow a more specific

[2020-04-16 13:57] lexdewilligen commented on #189
Well I tried that before, but I think I did something wrong, because I've just tried it again and works nicely! Thanks a lot

[2020-04-16 13:57] #189 closed

[2020-04-16 16:48] fetds commented on #119
Spark Mollie support only hosted payment pages?

What about Mollie Components?

[2020-04-16 18:15] sandervanhooft commented on #119
@fetds Mollie components are great but only support creditcard payments. That’s why Spark Mollie only supports the hosted checkout pages. Which works great.

[2020-04-18 08:42] rabol opened #196 "Add a migration file for mollie fields"
Suggestion:

Part of the installation of this package is to run php artisan cashier:install
It publish some migration files and views.

It would be nice to also have a migration file for adding the fields to the user table - sure It's easy to make your self, but a pre-made would make the whole thing easier :)

[2020-04-18 09:21] sandervanhooft commented on #196
Hi!

Thanks for the suggestion, I like to streamline as well.

But the issue with this is that many people are not using the user model/table as the billable model.

[2020-04-18 09:21] #196 closed

[2020-04-18 10:06] rabol opened #197 "webhook_url is not used"
In my /config/cashier.php I have changed the webhook_url

e.g.

'webhook_url' => 'https://webhook.site/ae8691c6-4887-4c19-ac2b-a176dfc5e769',

I then did a
php artisan clear
php artisan config:clear

however, Mollie still throws this error:
Error executing API call (422: Unprocessable Entity): The webhook URL is invalid because it is unreachable from Mollie's point of view.. Field: webhookUrl. Doc

[2020-04-18 10:20] #197 closed

[2020-04-18 12:40] rabol opened #198 "$user->subscription('example-1')->cancel(); does not work"
The read me say this:

$user->subscription('main')->cancel();

how ever it does not seems to work

I have the 'example-1 plan in the configuration

$user = Auth::user();
$user->subscription('example-1')->cancel();

another example:

[code]

the result is the same:

Call to a member function cancel() on null

looping over all user subscriptions seems to work

e.g.

foreach ( auth()->user()->subscri

[2020-04-18 12:55] rabol commented on #198
for this to work, one have to specify the plan description as the db contains the 'plan description in the name' and the plan in the plan column

->first(function ($value) use ($subscription) {
            return $value->name === $subscription;
        }

[2020-04-20 14:41] sandervanhooft commented on #188
Closing this for now, let me now if it should be reopened.

[2020-04-20 14:41] #188 closed

[2020-04-21 08:21] Reached commented on #119
I would like an invite, very excited for this :)!

[2020-04-21 08:43] tormjens commented on #197
@rabol How did you solve it?

[2020-04-21 09:21] rabol commented on #197
You have to use an external service like ngrok

It's a little strange that the Mollie service don't have an easier way to test, but that's how it is.

Stripe, paypal etc. does not have this... but that's life

[2020-04-21 09:39] sandervanhooft commented on #197
It's the same with Stripe actually, with the difference that they are providing their own forwarder/tunneling solution.

https://stripe.com/docs/webhooks/test

[2020-04-21 12:31] spooksie commented on #119
Invite please :) I'm ready to test this out

[2020-04-21 14:54] rabol opened #200 "Getting wrong subscription FirstpaymentPaid event"
After the first payment is received I would like to setup some permissions for the user.
Based on the plan that the user subscribe to I have different permissions.

To get the subscription i do this:

I have a listener that get's called on the FirstPaymentPaied event.

I then use this to get the subscription

[code]

This only works for the fist user.

second time $subscription is the fist subscri

[2020-04-21 15:12] rabol commented on #200
This seems to work:

[code]

[2020-04-21 15:12] #200 closed

[2020-04-29 10:46] rabol commented on #42
any ETA on the one-off feature ?

[2020-04-29 15:49] mmachatschek commented on #198
It seems that you pass the cashier plan name from the config to the controller instead of the actual subscription name that you set upon creating the subscription.

The error `Call to a member function cancel() on null` happens, because the `$user->subscription($plan)` provided doesn't exist.

e.g. if you create the subscription:

[code]

The subscription would have the name `main` and not the nam

[2020-05-01 17:45] burtontanner commented on #67
@jkaan is this an issue with php 7.3? that is the same version that I am using.

[2020-05-01 18:09] jkaan commented on #67
@burtontanner I'm not too clear on why actually the error occurs, but I think it is related to the fact that in PHP 7.2 you can use the `object` typehint which doesn't match with stdClass. PHP 7.1 ignores this however PHP 7.3 does enforce it and it fails.

[2020-05-03 16:25] Hesesses commented on #42
Thank you very much for creating the cashier package for mollie 🙏

For our service, one-off feature is required, would be nice to hear any ETA.

[2020-05-04 07:32] jelleroorda commented on #42
@rabol  @Hesesses

I (re)started working on it this morning, since I'm currently having a little more free time. Since it has been a while since I initially started working on it I simply dropped everything, and created a new fork from `development`. I'm not sure when it will mergable, but I'm aiming to get the biggest part done in around 2 weeks (~17 May).

After that it will depend on feedback a

[2020-05-05 02:26] MostafaRabia opened #202 "Works in middle-east?"
Does it support middle-east like egypt and saudi-arabia?

[2020-05-05 04:42] Hesesses commented on #42
Thanks for quick update!

[2020-05-05 11:16] sandervanhooft commented on #202
Hi @MostafaRabia ,

You’ll need to have a business entity registered in Europe.

[2020-05-05 15:14] mmachatschek opened #203 "Mandate method check in Billable Trait"
I"m curios for what reason the check `$method = MandateMethod::getForFirstPaymentMethod($planModel->firstPaymentMethod());` of the mandate method has been implemented on the `newSubscription` method in the `Billable` trait.

Because of this check, you are always redirected to the mollie checkout in case you have set `null` in the config `cashier.first_payment.method` to let the user choose the pay

[2020-05-05 15:17] mmachatschek opened #204 "Comma-separated list of first payment method in config"
It is not possible to add a comma-separated list for the first payment method in the config. The comment says it is possible but not handled correctly in the code.

[code]

Should the comment be updated or the code adapted accordingly?

[2020-05-05 15:48] sandervanhooft commented on #204
Can you try passing an array?

[2020-05-05 16:09] mmachatschek commented on #204
@sandervanhooft The plan model only accepts strings as payment method. Passing a array will lead in a PHP error.

[code]

[2020-05-05 18:42] jponsen opened #205 "Updating the payment method"
Hi,

I'm currently working on a project where we need to have the possibility to swap the issuer of the payment. Example:

Customer has registered and used iDeal with Rabobank (issuer) for first payment, and wants to switch to ING after one month.

Is there any way to switch this using a built in function? When selecting a new issuer and calling  the `newSubscription` method, a `Subscription` is r

[2020-05-06 13:06] sandervanhooft commented on #205
There's no simple call for this yet. But there are two ways to accomplish the use case you describe here. (Note that an iDEAL payment results in a `directdebit` mandate.)

If you want to verify the new card through Mollie's checkout and are ok with a minimum payment amount, you can use the FirstPaymentBuilder with either an AddGenericOrderItem action or an AddBalance action.

Alternatively you can

[2020-05-07 12:00] nicobleiler opened #206 "Laravel\Cashier\Exceptions\InvalidMandateException"
I get this error on my subscription. I checked the customer in mollie and he still has this exact mandate.
The mandate is also still associated with my laravel user.

Thanks for any help

[2020-05-07 12:31] sandervanhooft commented on #206
Have you verified the mandate is still valid?

[2020-05-07 12:46] nicobleiler commented on #206
It works sometimes and sometimes not. I set the subscription to a 15 minute cycle, i do not see a pattern why it works only some times

[2020-05-07 20:47] jponsen commented on #205
@sandervanhooft Thanks for your detailled reply. I just noticed I didn't mention that we also need the possibility to change between `directdebit` and `creditcard`. Is there any way to do so without triggering the Mollie checkout?

Can we just change billing methods (from directdebit to creditcard) when the mandate is already signed using directdebit?

[2020-05-08 07:59] #202 closed

[2020-05-09 21:56] falko100 opened #209 "Multiplans subscriptions"
Currently in Cashier there is a functionality for multiplan subscriptions; https://laravel.com/docs/7.x/billing#multiplan-subscriptions.

This feature is not working in cashier-mollie.
Will this be available in the foreseeable future?

[2020-05-10 01:01] nicobleiler commented on #206
I think I had an old Webhook that was causing this

[2020-05-10 05:40] sandervanhooft commented on #209
No.

[2020-05-10 05:40] #209 closed

[2020-05-11 16:41] sandervanhooft commented on #206
Thanks for clearing that up!

[2020-05-11 16:41] #206 closed

[2020-05-11 17:00] sandervanhooft commented on #205
It's a common use case. But it can also get a bit complicated as you are hinting here 😄 .

Adding a default method for this is on the roadmap. The Spark-Mollie launch (May 28th) comes first though - and I'm still recovering from what probably was covid-19.

Personally I'm **always** redirecting the customer through Mollie's checkout to be sure that the new card is verified. In many cases it is mor

[2020-05-11 17:05] #198 closed

[2020-05-11 18:03] rabol commented on #198
Maybe the documentation should be updated

I actually use a copy of this:

[code]

let's say that the controller is invoked with 'main' as parameter, then you will have the situation that I described.

because the subscription name will be 'Main' and not 'main' so when one later use 'main' to cancel it cannot be found because the subscription name in the db is 'Main'

[2020-05-11 21:00] chris-redbeed commented on #204
I create a small PR for this: https://github.com/laravel/cashier-mollie/pull/210

[2020-05-18 13:29] tobischulz commented on #187
Hello, i  have got that same problem. Turns out that the $this->owners() returned collection has NULL inside. Don´t know why but it could be fixed to break all other subscriptions/payments that has to be run by removing all NULL entries from the collection:

So in the OrderItemCollection:
![OrderItemCollectionHasNull](https://user-images.githubusercontent.com/576014/82218352-1180a900-991c-11ea-87b

[2020-05-18 16:39] kyle51north opened #211 "Payment failed, Subscription cancelled"
What would be the proper way to handle the following use case?

- User passes mandate payment, subscription starts after trial period.
- First SEPA payment fails, Cashier Mollie cancels the subscription
- Customer has sorted out issues with payments on their bank account, so it should not fail anymore. We want retry the payment and resume the subscription.
- ???

Do you just create a new subscript

[2020-05-18 16:54] sandervanhooft commented on #211
Thanks!

If the subscription is within its grace period, you can use the resume method. Otherwise it’s better to start a new subscription with the same settings.

Hope that clears it up, let me know if you need more information.

[2020-05-18 19:23] kyle51north commented on #211
Thanks for the quick response. Surely clears it up!

I think some general information about failed payments and the recommended way to handle them should be in the documentation.

Let me know what you think, I'm willing to create a PR if you agree.

[2020-05-19 09:18] sandervanhooft commented on #211
Thanks for clearing that up. I understand your use case. I think a PR on the docs would be best for now.

If you can think of a way to fix this with code, feel free to open an issue ticket or PR with a suggestion.

[2020-05-19 09:18] #211 closed

[2020-05-19 14:45] ufeg02 opened #213 "Multiple subscriptions possible"
Is it possible with this package to add more than one subscription to a user? We are offering multiple hostingpackages to our customers. One customer can order more than one package and can also order different priced packages. Is there a possibility to achieve this with this package?

[2020-05-19 15:42] sandervanhooft commented on #213
Yes it is, but the billing cycles don’t necessarily match up. So if you start multiple subscriptions on different start dates, you may get multiple invoices spread over the month.

[2020-05-19 15:42] #213 closed

[2020-05-25 14:47] jackwakefield commented on #119
If I could get an invite that'd be great, thanks in advance!

[2020-05-25 14:52] sandervanhooft commented on #119
Hi @jackwakefield ,

I've closed beta invites, as we're near the launch - this Thursday! 🎉

[2020-05-28 21:43] RyonMB commented on #119
So how can I use it 🎉. Is it released and where can I check it. Very excited to use it!

[2020-05-29 07:34] sandervanhooft commented on #119
Hi @RyonMB ,

Thanks for the ❤️!

I’ll be releasing a blog post on this today. But essentially you go to spark.laravel.com.

1. Make sure to have a recent Spark license. With this license you can now choose between Stripe and Mollie edition of Spark
2. Get Spark Mollie repository access at spark.laravel.com/settings#github
3. Follow the installation instructions in the Spark Mollie repository.

[2020-05-29 07:58] yadavsaurabh7 opened #214 "Issue with storing subscription to the subscriptions table in the database"
hi @sandervanhooft
I was trying to create a subscription but for some reason, it is not automatically inserting subscription in my subscription table ,

 $result = $user->newSubscription($name, 'premium')->create();

            if(is_a($result, RedirectToCheckoutResponse::class)) {
                return $result; // Redirect to Mollie checkout
            }

            Payment::create([

[2020-05-29 08:17] sandervanhooft commented on #214
A `RedirectToCheckoutResponse` is returned when the customer has no valid payment mandate yet. In that case the customer is sent through the Mollie checkout and no subscription will be stored in the subscriptions table yet. It will happen once the customer has went through Mollie's checkout and created the mandate, and your webhook gets called. The call to the webhook triggers creating the subscri

[2020-05-29 10:07] sandervanhooft commented on #119
[Here's the blog post](https://www.sandervanhooft.com/blog/laravel/now-available-laravel-spark-for-mollie/)

[2020-05-29 13:36] yadavsaurabh7 commented on #214
How can I forget the webhooks?
Got it now it's fixed.
Thanks sander

[2020-05-29 13:55] sandervanhooft commented on #214
No worries, it happens to the best of us. Enjoy!

[2020-05-29 13:55] #214 closed

[2020-06-01 18:50] Dontorpedo opened #215 "some questions"
Hi,

as i work with cashier and mollie for the first time...

do i still need the laravel mollie package?

is there somewhere a full example or tutorial how this all works?

[2020-06-02 06:28] sandervanhooft commented on #215
Installing this package will also install laravel-mollie.

I don’t have a tutorial available, but the readme should get you going. If you want everything wired up and ready take a look at Spark for Mollie.

[2020-06-02 06:28] #215 closed

[2020-06-03 10:37] nicobleiler opened #216 "Handle orders after a refund"
If i refund and order partially or completely, it creates a new order entry. I wanted to display all orders for the site admins and it seems like i can not differentiate between purchases and refunds.
How can i distinguish between  both?

[2020-06-04 06:19] asamMarkus opened #217 "Bug in Subscription::scheduleNewOrderItemAt() ?"
When working on a project with the option of swapping plans, I came up with the situation that when swapping a plan by the end of the next cycle (via Subscription::swapNextCycle()) the newly created OrderItem in the database had the description of the old plan instead of the new one.

Searching the code brought me to the following in Subscription::scheduleNewOrderItemAt():
Shouldn'l line 421 rathe

[2020-06-04 07:39] sandervanhooft commented on #217
I think you're right!

Could you submit a PR, and check the description in the test?

It's somewhere around [this line](https://github.com/laravel/cashier-mollie/blob/c3cb8104463f4f772a69d4a92b62859924ebdb14/tests/SwapSubscriptionPlanTest.php#L133).

I noticed it's not covered right now.

[2020-06-05 07:29] asamMarkus commented on #217
I submitted a PR including test.
Though I coudn't get the tests running. Please countercheck,

[2020-06-05 09:03] #217 closed

[2020-06-05 09:03] sandervanhooft commented on #217
Checked it, all good @asamMarkus . Big thanks!

[2020-06-05 09:09] sandervanhooft commented on #217
Just released in `v1.13.1`

[2020-06-05 09:55] asamMarkus commented on #217
Perfect, thanks for your quick reaction @sandervanhooft

[2020-06-08 09:59] tobischulz opened #219 "Mollie API Call Unprocessable Entity leads into unprocessed order"
We got an error from the mollie api:

We have increased the limit for **direct debit** so that this order can handled by mollie.

## The Problem

On `php artisan cashier:run` this order_item will not handled cause an order already exist with a temporary _mollie_payment_id_ (temp_4be7058b-xyz...).

How do i retry to create the same order?

Should i simply delete the temporary order for this order_i

[2020-06-08 10:44] sandervanhooft commented on #219
Hi @tobischulz ,

This is about a mandated payment right? So no need for the customer to go through Mollie's checkout

[2020-06-08 11:38] tobischulz commented on #219
Hi @sandervanhooft,

this is a direct debit payment with a manually created mandat. So the user has entered his direct debit data, i have created the mandat through the mollie api.  As described in issue #164 .

So the mandat is correct but mollie has not allowed the amount of the order_item. But the order was created without any mollie_payment_status.

php artisan cashier:run does not see this "o

[2020-06-08 12:11] sandervanhooft commented on #219
Ok.

I'm assuming it's used for a subscription and you're not using custom metrics / preprocessing.

- On the `Subscription`, you'll have to reset the `cycle_started_at` and `cycle_ends_at` to the previous cycle. (Once you create the new `Order`, this will be updated to the current cycle - the cycle being paid for with the new `Order`)
- Remove the `Order`
- Clear the `order_id` on the `OrderItem`

[2020-06-10 11:28] tobischulz commented on #219
This has worked. Thank you. But i have to delete the previously generated order_item for the next cycle, because that was twice after the new cashier:run.

But now everything looks good. Thank you!

[2020-06-10 11:28] #219 closed

[2020-06-10 11:32] sandervanhooft commented on #219
No problem, glad it worked out. Enjoy!

[2020-06-11 13:24] #119 closed

[2020-06-11 13:25] sandervanhooft commented on #205
Closing this for now, let me now if it should be reopened.

[2020-06-11 13:25] #205 closed

[2020-06-11 13:25] sandervanhooft commented on #216
Currently, you cannot.

Relates to #157

[2020-06-11 13:29] sandervanhooft commented on #203
Hi @mmachatschek,

I don't agree. The first line checks if there's a mandate id available, regardless of what method is configured on the subscription plan.

If there is a mandate id set, the subscription is created without having to go through the checkout.

[2020-06-11 13:35] sandervanhooft commented on #187
I agree that it's better to find out why null is being returned for some owners. Both the `owner_id` and `owner_type` table fields are mandatory, so I'm not sure what's causing this.

Can you share the database rows for the records that trigger this exception?

(Note that in your second code sample, the last two `$item`s are actually `$owner`s.)

[2020-06-11 13:46] sandervanhooft commented on #173
Closing this for now, let me now if it should be reopened.

[2020-06-11 13:46] #173 closed

[2020-06-11 13:47] sandervanhooft commented on #162
Closing this for now, let me know if it should be reopened.

[2020-06-11 13:47] #162 closed

[2020-06-11 13:47] sandervanhooft commented on #204
Thanks @chris-redbeed !

[2020-06-11 13:48] sandervanhooft commented on #155
Hi @GertTimmerman and @Paulsky , how are you doing on this? Need any help?

[2020-06-11 13:57] mmachatschek commented on #203
@sandervanhooft as there is no early return you will always be redirected to the checkout even if you have a mandate set on the billable model because in case of the problem with the payment method I mentioned you won't get into the if statement to

`return $this->newSubscriptionForMandateId($this->mollie_mandate_id, $subscription, $plan);`

[2020-06-11 14:25] sandervanhooft commented on #203
I'm trying to understand what you mean.

Is this issue with this line?

[code]

Would changing it to this solve your issue?

[code]

[2020-06-12 08:44] tobischulz commented on #187
For me this occurred only on development till now. So i guess this might be happen when an `owner` gets deleted but `order_times` / `orders` still exist.

Don´t know how to handle that right, cause if this would happen on production, no other order will be executed until this gets recognized by developer and get fixed by removing the `order_times`.

If you asked me it would be great if all order_i

[2020-06-12 08:51] sandervanhooft commented on #187
How about moving these to an `unprocessable_order_items` table, along with a `failure_reason` column? Another way could be by spawning a job for processing each order item collection. This would give us a log / failed jobs table for free.

When would this be a good idea? Can you elaborate on this use case?

[2020-06-12 09:07] tobischulz commented on #187
`How about moving these to an unprocessable_order_items table, along with a failure_reason column? Another way could be by spawning a job for processing each order item collection. This would give us a log / failed jobs table for free.`

That sounds nice! Love the job version. Would be great too for Horizon users.

`When would this be a good idea? Can you elaborate on this use case?`

I mean, if t

[2020-06-12 09:12] tobischulz commented on #79
I would like to add a /resources/lang/en/cashier.php file with that users can localize the order description for directdebit that is now "Order 1234" hardcoded.

Developers can add own lang files to override this with default laravel translation.

[2020-06-12 09:13] sandervanhooft commented on #187
The subscription only ends when the `cancelled_at` is filled. This only happens when it's cancelled manually, or if the payment fails. Not if the order processing fails.

[2020-06-12 09:14] sandervanhooft commented on #187
👍

[2020-06-12 09:17] tobischulz commented on #187
`The subscription only ends when the cancelled_at is filled. This only happens when it's cancelled manually, or if the payment fails. Not if the order processing fails.`

Oh okay, so the `subscription.cycle_ends_at` does not affect the active subscription state? So then there is no problem for customers, as they can user the subscribed service even the next payment does not has been processed.

[2020-06-12 09:20] sandervanhooft commented on #187
Exactly. But it's important this does not halt things, and the developer / merchant should be informed

[2020-06-12 12:39] GertTimmerman commented on #155
I have created a PercentageDiscountHandler, But I have not been able to test everything because you have to do tests with specific mollie orders, etc.

[2020-06-17 02:24] Perafan18 opened #220 "webhook_url and first_payment['webhook_url'] config doesn't work"
## Steps to reproduce:
Create a new Laravel project.
Include the package.
Get the API key.
run `php artisan route:list`
Change the value of `webhook_url`.
run `php artisan route:list`

The URL of the webhook doesn't change.

[2020-06-17 10:22] siarheipashkevich opened #222 "Rename variable name for more readable"
Please rename the variable from `subtotal` to `total`

https://github.com/laravel/cashier-mollie/blob/develop/src/Order/Invoice.php#L227

[2020-06-17 14:22] 1070rik opened #223 "Does a subscription renew automatically when paid with iDEAL"
I made a subscription and it made me pay with iDEAL.
I have a mandate and when I check the mandate it says "directdebit" as the type.
Does this mean that Mollie will send me a webhook every month when the cycle ends to inform the application is still active or am I missing something? In the Mollie dashboard I can't see any reference to it being recurring.

[2020-06-17 15:43] sandervanhooft commented on #223
Cashier will trigger a directdebit payment on the start of the next cycle (when executing `cashier:run`). It uses the mandate for this.

[2020-06-17 15:43] #223 closed

[2020-06-18 07:29] mmachatschek commented on #203
@sandervanhooft

The `MandateMethod::getForFirstPaymentMethod()`-method will always return a string, so the is_null check is not really helping here.

The main problem here is that PayPal is missing in the mollie-php-api `MandateMethod::getForFirstPaymentMethod()`. The method of the mandate can return `directdebit`, `creditcard` or `paypal` according to the [documentation](https://docs.mollie.com/

[2020-06-19 12:57] JordiBaguette commented on #42
Thank you for this awesome package! Any updates on this feature?

[2020-06-19 17:48] jelleroorda commented on #42
Hi @JordiBaguette, you can read up on the actual status in the associated pull request. The code in the pull request works, but the final version still needs some work (especially the part of the “open tab”).

After Sander finds more time to have a look at it and reviews it, I can check if I can find some more time to process his feedback. I’m also kind of busy though at the moment, so it’s also f

[2020-06-19 17:57] jelleroorda commented on #220
Hi Perafan,

If I remember correctly the webhook url in the config is simply an override. This means that if you change this value, your custom webhook url will be passed to Mollie when creating the Mollie payment. Mollie will then call your webhook instead of the default.
Keep in mind that the default webhook route from this Mollie package will stay registered, even if you change the configuratio

[2020-06-28 09:03] ric0tjuh24 opened #224 "Rounding bug with tax calculations"
Hello,

Currently there is a bug with the first_payment total caused by a rounding mistake. It might be that this is also the case for the subscription payments later on as it might use the same code.

**Steps to reproduce**
- set the taxPercentage to return 21
- set first payment amount to '10.00'
- create a new newSubscription with trialUntil set, so the first_payment code is used.

**Current re